<section class="bg-w-shadow mb-4">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title color-white">
               {{ 'REQUESTS' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="col-md-12 mb-3">
      <nz-card>
         <section class="bg-w-shadow bg-b-shadow">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="page-title-box-b">
                        <h4 class="page-title text-center color-white">
                           {{ 'REQUEST' | translate }}
                        </h4>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <form class="frm_shadow" nz-form [formGroup]="applicationForm">
            <nz-form-item>
               <div class="row m-0 mt-3">
                  <div class="col-md-12">
                     <nz-card class="b_none">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'BUSINESS' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="area" (ngModelChange)="areaSelect($event)">
                                          <nz-option *ngFor="let p of products" [nzValue]="p.product_id" [nzLabel]="p.proudctName"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_service" (ngModelChange)="typeOfSelectService($event)">
                                          <nz-option *ngFor="let s of services" [nzValue]="s.service_Id" [nzLabel]="s.serviceName"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                       <input  placeholder="{{ 'ENTER_NAME' | translate }}" type="text" nz-input formControlName="name" />
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                       <input type="text"  placeholder="{{ 'ENTER_IDENTIFICATION_CARD' | translate }}" nz-input formControlName="id_card" />
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'ASSIGNED_TO' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                         <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="assigned_to">
                                          <nz-option *ngFor="let s of assigned_to" [nzValue]="s.user_id" [nzLabel]="s.firstName"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                              {{ 'SUBMIT' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'RESET' | translate }}
                              </a>          
                           </div>
                        </div>
                     </nz-card>
                  </div>
               </div>
               <div class="row m-0">
               </div>
            </nz-form-item>
         </form>
      </nz-card>
   </div>
</div>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mt-4">
         <nz-card class="bx_shadow">
            <app-application-table
               *ngIf="applicationaccountDatas.length > 0"
               [applicationaccountDatas]="applicationaccountDatas">
            </app-application-table>
         </nz-card>
      </div>
   </div>
</div>