<section class="bg-w-shadow mb-4">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
          <h4 class="page-title">
            <nz-breadcrumb class="breadcrumb_title">
               <nz-breadcrumb-item>
                  {{ 'CUSTOMERS' | translate }}
               </nz-breadcrumb-item>
               <nz-breadcrumb-item>
                  {{ 'CONSULT' | translate }}
               </nz-breadcrumb-item>
            </nz-breadcrumb>
         </h4>
        </div>
     </div>
  </div>
</section>
<div class="container-fluid">
  <div class="col-md-12 mb-3">
     <nz-card>
      <section class="bg-w-shadow bg-b-shadow">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <div class="page-title-box-b">
                     <h4 class="page-title text-center color-white">
                        {{ 'SEARCH_EMPLOYEES' | translate }}
                     </h4>
                  </div>
               </div>
            </div>
         </div>
       </section>
       <form class="frm_shadow" nz-form [formGroup]="personalconsultForm">
         <nz-form-item>
            <div class="row m-0 mt-3">
               <div class="col-md-12">
                  <nz-card class="b_none">
                     <div class="row">
                         <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <nz-form-label>{{ 'COMPANIES_NAME' | translate }}*</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input type="text" placeholder="{{ 'ENTER_COMPANIES_NAME' | translate }}" nz-input formControlName="companyname" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                       
                         <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'NIT_CEDULA' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <input  placeholder="{{ 'ENTER_NIT_CEDULA' | translate }}" type="text" nz-input formControlName="nit_cedula" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <nz-form-label>{{ 'BUSINESS' | translate }}*</nz-form-label>
                              </div>
                              <div class="col-md-7">
                               <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                  <input type="text" placeholder="{{ 'BUSINESS' | translate }}" nz-input formControlName="business_name" />
                               </nz-form-control>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <nz-form-label>{{ 'EMAIL' | translate }}*</nz-form-label>
                              </div>
                              <div class="col-md-7">
                               <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                  <input type="text" placeholder="{{ 'EMAIL' | translate }}" nz-input formControlName="email" />
                               </nz-form-control>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-3">
                           <div class="float-right">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                              {{ 'SUBMIT' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'RESET' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-card>
               </div>
            </div>
            <div class="row m-0">
            </div>
         </nz-form-item>
      </form>
     </nz-card>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-0">
     <div class="col-md-12 mt-4">
        <nz-card class="bx_shadow">
           <app-customers-consult-table *ngIf="customersconsultaccountDatas.length > 0"
              [customersconsultaccountData]="customersconsultaccountDatas">
           </app-customers-consult-table>
        </nz-card>
     </div>
  </div>
</div>