

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../consult">{{ 'CUSTOMERS' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'CONSULT' | translate }}
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'USER' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'CREATE_NEW_COMPANY_USER' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="customerconsultNewuser" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input type="text" nz-input formControlName="name" placeholder="{{ 'ENTER_YOUR_NAME' | translate }}" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_LAST_NAME' | translate }}" type="text" nz-input formControlName="last_name" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'MAIL' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_MAIL' | translate }}" type="text" nz-input formControlName="mail" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'PHONE' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_PHONE_NO' | translate }}" type="text" nz-input formControlName="phone" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'MOBILE' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_MOBILE_NO' | translate }}" type="text" nz-input formControlName="mobile" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7" *ngIf="this.customerconsultNewuser.value.department == '1'">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                       <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                       <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                       <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                              <div class="col-md-7" *ngIf="this.customerconsultNewuser.value.department == '2'">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                       <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                       <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'NO_CARD' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input type="text" nz-input formControlName="no_card" placeholder="{{ 'ENTER_NO_CARD' | translate }}" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'POSITION' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_POSITION' | translate }}" type="text" nz-input formControlName="position" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'AREA' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_AREA' | translate }}" type="text" nz-input formControlName="area" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'PROFESSION' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_PROFESSION' | translate }}" type="text" nz-input formControlName="profession" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'ADMINISTRATOR' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="administrator">
                                       <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'OBSERVER' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="observer">
                                       <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 mt-1">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control> 
                                    <textarea formControlName="address" nz-input rows="2" placeholder="{{ 'ENTER_YOUR_ADDRESS' | translate }}"></textarea>   
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <button nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                              {{ 'SUBMIT' | translate }}
                              </button>
                              <button nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'RESET' | translate }}
                              </button>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

