

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title color-white">
                  {{ 'CREATE_REQUESTS' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div>
   <ng-template #titleTemplate>
      <div class="ctm-card-title color-white">          
         <span>{{ 'REQUEST' | translate }}</span>
      </div>
   </ng-template>
   <div class="content-section">
      <div class="row">
         <div class="col-md-12">
            <div class="m-b-20">
               <nz-card nzType="inner" class="box_Shadow" [nzTitle]="titleTemplate">
                  <div class="row">
                     <div class="col-md-10 offset-md-2 ctm_radio">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-12">
                                 <nz-radio-group [(ngModel)]="radioValue">
                                 <label nz-radio nzValue="1">{{ 'INDIVIDUAL' | translate }}</label>
                                 </nz-radio-group>                                  
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-12">
                                 <nz-radio-group [(ngModel)]="radioValue">
                                 <label nz-radio nzValue="2">{{ 'GROUP' | translate }}</label>
                                 </nz-radio-group>                                  
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </nz-card>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="ctm_create_app">
   <div *ngIf="radioValue == '1'">
      <ng-template #titleTemplate>
         <div class="ctm-card-title color-white">          
            <span>{{ 'CREATE_REQUESTS' | translate }}</span>
         </div>
      </ng-template>
      <div class="content-section">
         <div class="row">
            <div class="col-md-12">
               <div class="m-b-20">
                  <form nz-form [formGroup]="createapplicationAddform" class="ctm-label-r">
                     <nz-card nzType="inner" class="box_Shadow" [nzTitle]="titleTemplate">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'USER' | translate }}</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="user">
                                          <nz-option nzLabel="{{ 'NUBIA_PATRICIA_ROMERO' | translate }}" nzValue="1"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'COMPANY' | translate }}</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="company">
                                          <nz-option nzLabel="{{ 'KING_OCEAN_SERVICES' | translate }}" nzValue="1"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                              
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'AREA' | translate }}*</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="area" (ngModelChange)="areaSelect($event)">
                                          <nz-option nzLabel="{{ 'RELIABILITY' | translate }}" nzValue="1"></nz-option>
                                          <nz-option nzLabel="{{ 'POLYGRAPHIC_AND_VSA' | translate }}" nzValue="2"></nz-option>
                                          <nz-option nzLabel="{{ 'OPERATIONS' | translate }}" nzValue="3"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_service" (ngModelChange)="typeOfSelectService($event)">
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'BASIC(1,2,3AND6)' | translate }}" nzValue="1"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'BASIC_2(1,2,3,6AND7)' | translate }}" nzValue="2"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'ACADEMIC_REFERENCING' | translate }}" nzValue="3"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'COMPLETE_REFERENCING_(4AND5)' | translate }}" nzValue="4"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'SIMPLE_FINANCIAL' | translate }}" nzValue="5"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="6"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'COMPLETE_ADVERSE_(1AND2)' | translate }}" nzValue="7"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'ADVERSE_+_VISIT_(1,2AND3)' | translate }}" nzValue="8"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'ADMISSION_VISIT' | translate }}" nzValue="9"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'LABOR_REFERENCING' | translate }}" nzValue="10"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'BASIC_3(1,2,3,6AND8)' | translate }}" nzValue="11"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'COMPLETE_REFERENCING_+_ADVERSE(1,2AND6)' | translate }}" nzValue="12"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'SOCIO_ECONOMIC_(1,2AND7)' | translate }}" nzValue="13"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FOLLOW_UP_VISIT' | translate }}" nzValue="14"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FOLLOW_UP_VISIT_+_ADVERSE_EVENTS(1,2AND17)' | translate }}" nzValue="15"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FOLLOW_UP_+_SOCIO_ECONOMIC_VISIT(16AND17)' | translate }}" nzValue="16"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'DATA_UPDATE' | translate }}" nzValue="17"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 2" nzLabel="{{ 'POLYGRAPHS' | translate }}" nzValue="18"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE(SARLAFT)' | translate }}" nzValue="19"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE' | translate }}" nzValue="20"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'IMMEDIATE_REPORT' | translate }}" nzValue="21"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE(SARLAFT)_COMPANY' | translate }}" nzValue="22"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE_COMPANIES' | translate }}" nzValue="23"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE(SARLAFT)_COMPANY' | translate }}" nzValue="24"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'BASIC_COMPANY_(ADVERSE_+_VISIT_)' | translate }}" nzValue="25"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <!--  <div class="col-md-12 my-3">
                              <div class="float-right">            
                                 <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="typeOfService()">
                                 {{ 'SUBMIT' | translate }}
                                 </a>
                                 <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                                 {{ 'RESET' | translate }}
                                 </a>          
                              </div>
                              </div> -->
                        </div>
                     </nz-card>
                     <div class="mt-4" *ngIf="typeOfServiceSelectValue == 1">
                        <ng-template #generalTitleTemplate>
                           <div class="ctm-card-title color-white">
                              <span>{{ 'BASIC_APPLICATION' | translate }}</span>
                           </div>
                        </ng-template>
                        <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="createapplication-form box_Shadow">
                           <nz-form-item>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'CANDIDATE_NAME' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="candidate_name" placeholder="{{ 'CANDIDATE_NAME' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'NEIGHBORHOOD' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="neighborhood" placeholder="{{ 'NEIGHBORHOOD' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'EXPENSE_CENTER' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="expense_center" placeholder="{{ 'EXPENSE_CENTER' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="float-right my-3">  
                                       <a nz-button nzType="secondary"  class="ctm-btn-dark-blue mr-2">
                                       {{ 'ADD' | translate }}
                                       </a>          
                                    </div>
                                 </div>
                              </div>
                           </nz-form-item>
                        </nz-card>
                        <div class="mt-4">
                           <ng-template #generalTitleTemplate1>
                              <div class="ctm-card-title color-white">
                                 <span>{{ 'CANDIDATE_DATA' | translate }}</span>
                              </div>
                           </ng-template>
                           <nz-card nzType="inner" [nzTitle]="generalTitleTemplate1" class="createapplication-form box_Shadow">
                              <nz-form-item>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'NAME_OR_SOCIAL_REASON' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="name" placeholder="{{ 'NAME_OR_SOCIAL_REASON' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                                   <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '1'">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                   <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                                   <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                                   <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                          <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '2'">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                   <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'POSITION' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="position" placeholder="{{ 'POSITION' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12 my-3">
                                       <div class="float-right">            
                                          <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" >
                                          {{ 'SUBMIT' | translate }}
                                          </a>
                                          <a nz-button nzType="secondary" class="ctm-btn-light-blue" >
                                          {{ 'RESET' | translate }}
                                          </a>          
                                       </div>
                                    </div>
                                 </div>
                              </nz-form-item>
                           </nz-card>
                        </div>
                     </div>
                     <div class="mt-4" *ngIf="typeOfServiceSelectValue == 2">
                        <ng-template #generalTitleTemplate>
                           <div class="ctm-card-title color-white">
                              <span>{{ 'BASIC_REQUEST_2' | translate }}</span>
                           </div>
                        </ng-template>
                        <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="createapplication-form box_Shadow">
                           <nz-form-item>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'NAME_OR_SOCIAL_REASON' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="name" placeholder="{{ 'NAME_OR_SOCIAL_REASON' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                                <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '1'">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                                <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                                <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                       <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '2'">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'POSITION' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="position" placeholder="{{ 'POSITION' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="float-right my-3">   
                                       <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2">
                                       {{ 'ADD' | translate }}
                                       </a>          
                                    </div>
                                 </div>
                              </div>
                           </nz-form-item>
                        </nz-card>
                        <div class="mt-4">
                           <ng-template #generalTitleTemplate1>
                              <div class="ctm-card-title color-white">
                                 <span>{{ 'CANDIDATE_DATA' | translate }}</span>
                              </div>
                           </ng-template>
                           <nz-card nzType="inner" [nzTitle]="generalTitleTemplate1" class="createapplication-form box_Shadow">
                              <nz-form-item>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'NAME_OR_SOCIAL_REASON' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="name" placeholder="{{ 'NAME_OR_SOCIAL_REASON' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                                   <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '1'">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                   <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                                   <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                                   <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                          <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '2'">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                   <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'POSITION' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="position" placeholder="{{ 'POSITION' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12 my-3">
                                       <div class="float-right">            
                                          <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" >
                                          {{ 'SUBMIT' | translate }}
                                          </a>
                                          <a nz-button nzType="secondary" class="ctm-btn-light-blue" >
                                          {{ 'RESET' | translate }}
                                          </a>          
                                       </div>
                                    </div>
                                 </div>
                              </nz-form-item>
                           </nz-card>
                        </div>
                     </div>
                     <div class="mt-4" *ngIf="typeOfServiceSelectValue == 18">
                        <ng-template #generalTitleTemplate>
                           <div class="ctm-card-title color-white">
                              <span>{{ 'POLYGRAPHY_REQUEST' | translate }}</span>
                           </div>
                        </ng-template>
                        <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="createapplication-form box_Shadow">
                           <nz-form-item>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'TEST_TYPE' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="test_type">
                                                <nz-option nzLabel="{{ 'SPECIFIC' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'PREEMPLOYMENT' | translate }}" nzValue="2"></nz-option>
                                                <nz-option nzLabel="{{ 'ROUTINE' | translate }}" nzValue="3"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'CANDIDATE_NAME' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="candidate_name" placeholder="{{ 'CANDIDATE_NAME' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                                <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '1'">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                                <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                                <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                       <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '2'">
                                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                             <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                                <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                             </nz-select>
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'NEIGHBORHOOD' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="neighborhood" placeholder="{{ 'NEIGHBORHOOD' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'EXPENSE_CENTER' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="expense_center" placeholder="{{ 'EXPENSE_CENTER' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="float-right my-3">   
                                       <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2">
                                       {{ 'ADD' | translate }}
                                       </a>          
                                    </div>
                                 </div>
                              </div>
                           </nz-form-item>
                        </nz-card>
                        <div class="mt-4">
                           <ng-template #generalTitleTemplate1>
                              <div class="ctm-card-title color-white">
                                 <span>{{ 'CANDIDATE_DATA' | translate }}</span>
                              </div>
                           </ng-template>
                           <nz-card nzType="inner" [nzTitle]="generalTitleTemplate1" class="createapplication-form box_Shadow">
                              <nz-form-item>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'NAME_OR_SOCIAL_REASON' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="name" placeholder="{{ 'NAME_OR_SOCIAL_REASON' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                                   <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '1'">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                   <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                                   <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                                   <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                          <div class="col-md-7" *ngIf="this.createapplicationAddform.value.department == '2'">
                                             <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                                   <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                                   <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                                </nz-select>
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'POSITION' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="position" placeholder="{{ 'POSITION' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12 my-3">
                                       <div class="float-right">            
                                          <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" >
                                          {{ 'SUBMIT' | translate }}
                                          </a>
                                          <a nz-button nzType="secondary" class="ctm-btn-light-blue" >
                                          {{ 'RESET' | translate }}
                                          </a>          
                                       </div>
                                    </div>
                                 </div>
                              </nz-form-item>
                           </nz-card>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div *ngIf="radioValue == '2'">
      <ng-template #titleTemplate>
         <div class="ctm-card-title color-white">          
            <span>{{ 'GROUP' | translate }}</span>
         </div>
      </ng-template>
      <div class="content-section">
         <div class="row">
            <div class="col-md-12">
               <div class="m-b-20">
                  <form nz-form [formGroup]="createapplicationAddform" class="ctm-label-r">
                     <nz-card nzType="inner" class="box_Shadow" [nzTitle]="titleTemplate">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'BUSINESS' | translate }}</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="business">
                                          <nz-option nzLabel="{{ 'KING_OCEAN_SERVICES' | translate }}" nzValue="1"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'AREA' | translate }}*</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="area" (ngModelChange)="areaSelect($event)">
                                          <nz-option nzLabel="{{ 'RELIABILITY' | translate }}" nzValue="1"></nz-option>
                                          <nz-option nzLabel="{{ 'POLYGRAPHIC_AND_VSA' | translate }}" nzValue="2"></nz-option>
                                          <nz-option nzLabel="{{ 'OPERATIONS' | translate }}" nzValue="3"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'USER' | translate }}</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" formControlName="user">
                                          <nz-option nzLabel="{{ 'NUBIA_PATRICIA_ROMERO' | translate }}" nzValue="1"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <nz-select nzShowSearch nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_service">
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'BASIC(1,2,3AND6)' | translate }}" nzValue="1"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'BASIC_2(1,2,3,6AND7)' | translate }}" nzValue="2"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'ACADEMIC_REFERENCING' | translate }}" nzValue="3"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'COMPLETE_REFERENCING_(4AND5)' | translate }}" nzValue="4"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'SIMPLE_FINANCIAL' | translate }}" nzValue="5"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="6"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'COMPLETE_ADVERSE_(1AND2)' | translate }}" nzValue="7"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'ADVERSE_+_VISIT_(1,2AND3)' | translate }}" nzValue="8"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'ADMISSION_VISIT' | translate }}" nzValue="9"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'LABOR_REFERENCING' | translate }}" nzValue="10"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'BASIC_3(1,2,3,6AND8)' | translate }}" nzValue="11"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'COMPLETE_REFERENCING_+_ADVERSE(1,2AND6)' | translate }}" nzValue="12"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'SOCIO_ECONOMIC_(1,2AND7)' | translate }}" nzValue="13"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FOLLOW_UP_VISIT' | translate }}" nzValue="14"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FOLLOW_UP_VISIT_+_ADVERSE_EVENTS(1,2AND17)' | translate }}" nzValue="15"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'FOLLOW_UP_+_SOCIO_ECONOMIC_VISIT(16AND17)' | translate }}" nzValue="16"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 1" nzLabel="{{ 'DATA_UPDATE' | translate }}" nzValue="17"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 2" nzLabel="{{ 'POLYGRAPHS' | translate }}" nzValue="18"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE(SARLAFT)' | translate }}" nzValue="19"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE' | translate }}" nzValue="20"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'IMMEDIATE_REPORT' | translate }}" nzValue="21"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE(SARLAFT)_COMPANY' | translate }}" nzValue="22"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE_COMPANIES' | translate }}" nzValue="23"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'ADVERSE(SARLAFT)_COMPANY' | translate }}" nzValue="24"></nz-option>
                                          <nz-option *ngIf="areaSelectValue == 3" nzLabel="{{ 'BASIC_COMPANY_(ADVERSE_+_VISIT_)' | translate }}" nzValue="25"></nz-option>
                                       </nz-select>
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="row">
                                 <div class="col-md-5 ctm_right">
                                    <div>
                                       <nz-form-label>{{ 'ATTACH_FILE' | translate }}</nz-form-label>
                                    </div>
                                 </div>
                                 <div class="col-md-7">
                                    <nz-form-control>
                                       <input class="my-1 h-auto" type="file" nz-input formControlName="attach_file" />
                                    </nz-form-control>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="float-right my-3">            
                                 <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="groupOfService()">
                                 {{ 'SUBMIT' | translate }}
                                 </a>
                                 <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                                 {{ 'RESET' | translate }}
                                 </a>          
                              </div>
                           </div>
                        </div>
                     </nz-card>
                     <!-- <div class="mt-4" *ngIf="typeOfServiceSelectValue == 1">
                        <ng-template #generalTitleTemplate>
                           <div class="ctm-card-title color-white">
                              <span>{{ 'BASIC_APPLICATION' | translate }}</span>
                           </div>
                        </ng-template>
                        <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="createapplication-form box_Shadow">
                           <nz-form-item>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="id_doc" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'CANDIDATE_NAME' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="candidate_name" placeholder="{{ 'CANDIDATE_NAME' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                             
                              
                               
                              </div>
                           </nz-form-item>
                        </nz-card>
                        
                        </div> -->
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

