<section class="bg-w-shadow bg-b-shadow ctm_bx">
  <div class="container-fluid">
     <div class="row">
        <div class="offset-md-4 col-sm-4">
           <div class="page-title-box-b">
              <h4 class="page-title text-center color-white">
                 {{ 'EMPLOYEE_RELATIONSHIP' | translate }}
              </h4>
           </div>
        </div>
        <div class="col-md-4">
            <div class="row p-10">
               <!-- <div class="col-md-8">
                  <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                     <input type="text" placeholder="{{ 'SEARCH' | translate }}" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                  </nz-input-group>
                  <ng-template #keyupsearchSuffixIcn>
                     <i nz-icon nzType="search"></i>
                  </ng-template>
               </div> -->
               <div class="offset-md-8 col-md-4">
                  <div class="row ctm_btn"> 
                     <a nz-button nzType="secondary" class="ctm-btn-light-export">
                     <i class="fa fa-download mr-1" aria-hidden="true"></i>{{ 'EXPORT' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
     </div>
  </div>
</section>
<nz-table [nzData]="personalconsultDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
  <div class="black2">
     {{ 'NO_RECORD_FOUND' | translate }}
  </div>
</ng-template>
<thead>
  <tr>
     <th class="t_head">{{ 'NAME' | translate }}</th>
     <th class="t_head">{{ 'LAST_NAME' | translate }}</th>
     <th class="t_head">{{ 'IDENTIFICATION_CARD' | translate }}</th>
     <th class="t_head">{{ 'USER_TYPE' | translate }}</th>
     
     <th class="t_head">{{ 'ACTION' | translate }}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of personalconsultDisplayData">
     <td class="t_bdy">{{ data.firstName }}</td>
     <td class="t_bdy">{{ data.lastName }}</td>
     <td class="t_bdy">{{ data.identity }}</td>
     <td class="t_bdy">{{ data.usertypetitle }}</td>
    
     <td class="t_bdy">
        <a nz-button nzType="primary" nzShape="round" [routerLink]="['edit', data.user_id]" class="ctm-btn-green px-2 mr-1 mb-1">
        <img src="assets/images/edit.png">         
        </a>
        <a nz-button nzType="primary" nzShape="round" [routerLink]="['view', data.user_id]" class="ctm-btn-status px-2 mr-1 mb-1">
        <img src="assets/images/view.png">           
        </a>    
        <a nz-button nzType="primary" nzShape="round" [routerLink]="['delete', data.user_id]" class="ctm-btn-dark-delete px-2 mr-1 mb-1">
        <img src="assets/images/delete.png">
        </a>
     </td>
  </tr>
</tbody>
</nz-table>