<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title text-center color-white">
                 {{ 'INVOICE_RELATIONSHIP' | translate }}
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="billingcheckinvoiceForm">
  <nz-form-item>
     <div class="row m-0 mt-3">
        <div class="col-md-12">
           <nz-card class="b_none">
              <div class="row">
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'COMPANY_DOCUMENT' | translate }}*</nz-form-label>
                       </div>
                       <div class="col-md-7">
                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                             <input type="text" placeholder="{{ 'ENTER_DOCUMENTATION_NUMBER' | translate }}" nz-input formControlName="company_document" />
                          </nz-form-control>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'BUSINESS_NAME' | translate }}*</nz-form-label>
                       </div>
                       <div class="col-md-7">
                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                             <input type="text" placeholder="{{ 'SELECT_BUSINESS' | translate }}" nz-input formControlName="business_name" />
                          </nz-form-control>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'START_DATE' | translate }}</nz-form-label>
                       </div>
                       <div class="col-md-7">
                        <nz-form-control>
                           <nz-date-picker formControlName="start_date" nzPlaceHolder="{{ 'START_DATE' | translate }}" nzAllowClear="false"></nz-date-picker>
                        </nz-form-control>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'END_DATE' | translate }}</nz-form-label>
                       </div>
                       <div class="col-md-7">
                        <nz-form-control>
                           <nz-date-picker formControlName="end_date" nzPlaceHolder="{{ 'END_DATE' | translate }}" nzAllowClear="false"></nz-date-picker>
                        </nz-form-control>
                     </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-12">
                 <div class="float-right my-3">            
                    <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                    {{ 'SUBMIT' | translate }}
                    </a>
                    <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                    {{ 'RESET' | translate }}
                    </a>          
                 </div>
              </div>
           </nz-card>
        </div>
     </div>
     <div class="row m-0">
     </div>
  </nz-form-item>
</form>