.t_head{
  font-size: 11px;
  background: #35598d;
  color:#fff;
  text-align: center;
}

.t_bdy{
  text-align: center;
  font-size: 13px;
}
.t_head_row{
  background: #35598d;
}
.bg-white{
  border-radius: 10px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  
}
.ctm_radio{
  display: flex;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.u_file{
  padding-top:3px;
  padding-bottom:3px;
}

label.uploadelable {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 20% 0 20% 0;
  border: 1px solid #1f467d;
  font-size: 22px;
}
