<section class="bg-w-shadow mb-3">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title">
               <nz-breadcrumb class="breadcrumb_title">
                  <nz-breadcrumb-item>
                     <a routerLink="../../consult">{{ 'CUSTOMERS' | translate }}</a>
                  </nz-breadcrumb-item>
                  <nz-breadcrumb-item>
                     {{ 'CONSULT' | translate }}
                  </nz-breadcrumb-item>
                  <nz-breadcrumb-item>
                     {{ 'VIEW' | translate }}
                  </nz-breadcrumb-item>
               </nz-breadcrumb>
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="col-md-12 mb-3 mt-4">
      <nz-card>
         <app-customers-consult-user-form
            [consultviewData]="consultviewDatas">
         </app-customers-consult-user-form>
      </nz-card>
   </div>
</div>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mt-4">
         <nz-card class="bx_shadow">
            <app-customers-consult-user-table
               [consultviewData]="consultviewDatas">
            </app-customers-consult-user-table>
         </nz-card>
      </div>
   </div>
</div>