<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                <nz-breadcrumb class="breadcrumb_title">
                  <nz-breadcrumb-item>
                     <a routerLink="../.." >{{ 'REQUESTS' | translate }}</a>
                  </nz-breadcrumb-item>
                  <nz-breadcrumb-item>
                     {{ 'DELETE' | translate }}
                  </nz-breadcrumb-item>
               </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <a routerLink="../..">
     <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
     </a>
     <span>{{ 'REMOVE_BRAND' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form  class="ctm-label-r">
           <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'BUSSINESS' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small> {{ applicationEdit.business }} </small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'USER' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small> {{ applicationEdit.services}}</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>{{ applicationEdit.servicetype }}</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>{{ applicationEdit.firstname }} {{ applicationEdit.lastname }}</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>{{ applicationEdit.identity_document }} </small>
                             </div>
                          </div>
                       </div>
                      
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>{{  applicationEdit.position }}</small>
                             </div>
                          </div>
                       </div>
                   
                    </div>
                   
                    <div class="row">
                      
                      
                     <div class="col-md-12">
                      <div class="float-right my-3">            
                         <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="deleteCustomer()">
                         {{ 'DELETE' | translate }}
                         </a>
                             
                      </div>
                   </div>
                    </div>
                 
                 </nz-form-item>
              </nz-card>
           </div>
        </form>
     </div>
  </div>
</div>