

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../consult"> {{ 'EMPLOYEES' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'CONSULT' | translate }}
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'EDIT' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../consult">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'EDIT_EMPLOYEES' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="employeesconsultEdit" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_NAME' | translate }}" type="text" nz-input formControlName="name" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_LAST_NAME' | translate }}" type="text" nz-input formControlName="last_name" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'MAIL' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_MAIL' | translate }}" type="email" nz-input formControlName="email" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'PHONE' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_PHONE_NO' | translate }}" type="text" nz-input formControlName="phone" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7" *ngIf="this.employeesconsultEdit.value.department == '1'">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                       <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                       <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                       <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                              <div class="col-md-7" *ngIf="this.employeesconsultEdit.value.department == '2'">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                       <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'CODE' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input type="text" nz-input formControlName="code" placeholder="{{ 'CODE' | translate }}" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'USER' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'USER' | translate }}" type="text" nz-input formControlName="user" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input type="text" nz-input formControlName="id_card" placeholder="{{ 'IDENTIFICATION_CARD' | translate }}" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'USER_TYPE' | translate }}*</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_A_TYPE' | translate }}"  formControlName="user_type">
                                       <nz-option nzLabel="{{ 'ADVISER' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'POLYGRAPHIST' | translate }}" nzValue="2"></nz-option>
                                       <nz-option nzLabel="{{ 'ASSISTANT' | translate }}" nzValue="3"></nz-option>
                                       <nz-option nzLabel="{{ 'ADMINISTRATIVE' | translate }}" nzValue="4"></nz-option>
                                       <nz-option nzLabel="{{ 'VISITOR' | translate }}" nzValue="5"></nz-option>
                                       <nz-option nzLabel="{{ 'PROGRAMMER_VISITS' | translate }}" nzValue="6"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                           </div> -->
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                       <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 my-3">
                           <div class="float-right">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                              {{ 'SUBMIT' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'RESET' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

