<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                       <a routerLink="../../products">{{ 'PRODUCTS' | translate }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'NEW' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <a routerLink="../../products">
     <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
     </a>
     <span>{{ 'NEW_PRODUCT' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form [formGroup]="addnewProduct" class="ctm-label-r">
           <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'PRODUCT_NAME' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" nz-input formControlName="product_name" placeholder="{{ 'ENTER_PRODUCT_NAME' | translate }}" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" placeholder="{{ 'ENTER_YOUR_CODE' | translate }}" nz-input formControlName="code" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-12">
                          <div class="float-right my-3">            
                             <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveProduct()">
                             {{ 'SUBMIT' | translate }}
                             </a>
                             <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                             {{ 'RESET' | translate }}
                             </a>          
                          </div>
                       </div>
                    </div>
                 </nz-form-item>
              </nz-card>
           </div>
        </form>
     </div>
  </div>
</div>