<nz-layout class="app-layout">
   <nz-sider class="menu-sidebar"
   nzCollapsible
   nzWidth="256px"
   nzBreakpoint="md"
   [(nzCollapsed)]="isCollapsed"
   [nzTrigger]="null" *ngIf="innerWidth > 768">
   <div class="sidebar-logo">
      <img src="assets/images/logo.png" alt="logo">
   </div>
   <div class="administrative" *ngIf="!isCollapsed">
      <img src="assets/images/administrative.png" alt="administrative">
      <h5 class="f-s-1">USER: VANESSA</h5>
      <h6>ASSISTANT</h6>
   </div>
   <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
         <a routerLink="requests">
            <img src="assets/images/requests.png" nz-icon>
            <!-- <i class="mdi mdi-view-dashboard" nz-icon></i> -->
            <span>{{ 'REQUESTS' | translate }}</span>
         </a>
      </li>
      <li nz-menu-item>
         <a routerLink="create-requests">
         <img src="assets/images/create-requests.png" nz-icon>          
         <span>{{ 'CREATE_REQUESTS' | translate }}</span>
         </a>
      </li>
   </ul>
   </nz-sider>
   <nz-drawer
   [nzClosable]="false"
   [nzVisible]="drawerVisible"
   [nzPlacement]="drawerPlacement"
   [nzTitle]="slideDrawerTemp"
   (nzOnClose)="drawerClose()"
   class="user-menu-drawer"
   *ngIf="768 > innerWidth">
   <ng-template #slideDrawerTemp>
      <div class="sidebar-logo">
         <a routerLink="/user/start">
         <img src="assets/images/logo.png" alt="logo">
         </a>
      </div>
   </ng-template>
   <ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
      <li nz-menu-item (click)="drawerClose()">
         <a routerLink="requests">
         <img src="assets/images/requests.png" nz-icon>        
         <span>{{ 'REQUESTS' | translate }}</span>
         </a>
      </li>
      <li nz-menu-item (click)="drawerClose()">
         <a routerLink="create-requests">
         <img src="assets/images/create-requests.png" nz-icon>  
         <span>{{ 'CREATE_REQUESTS' | translate }}</span>          
         </a>
      </li>
   </ul>
   </nz-drawer>  
   <nz-layout>
      <nz-header>
         <div class="app-header">
            <span 
            class="header-trigger" 
            (click)="isCollapsed = !isCollapsed" *ngIf="innerWidth > 768">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               ></i>
            </span> 
            <span *ngIf="768 > innerWidth" class="m-menu-fold">
            <i nz-icon nzType="menu-fold" (click)="drawerOpen()"></i>
            </span>         
            <span>
            </span>          
            <div class="pull-right">
               <a class="l-h-35 color-white">
               {{ 'SETTINGS' | translate }}
               </a>          
               <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="logout-dd">
               <i class="fa fa-cog" aria-hidden="true"></i> 
               </a>
               <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                     <!-- <li nz-menu-item routerLink="/user/profile">
                        <i class="mdi mdi-account-settings font-16"></i> {{ 'PROFILE' | translate }}
                        </li> -->
                     <li nz-menu-item (click)="userLogout()">
                        <i class="mdi mdi-logout-variant font-16"></i> {{ 'SIGN_OUT' | translate }}
                     </li>
                     <li nz-menu-item (click)="useLanguage('en')">
                        <img src="assets/images/united-kingdom.png"> English
                     </li>
                     <li nz-menu-item (click)="useLanguage('es')">
                        <img src="assets/images/spain.png"> Spanish
                     </li>
                  </ul>
               </nz-dropdown-menu>
            </div>
         </div>
      </nz-header>
      <nz-content>
         <div class="inner-content">
            <router-outlet></router-outlet>
         </div>
      </nz-content>
   </nz-layout>
</nz-layout>

