

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../assigned-requests">{{ 'ASSIGNED_REQUESTS' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'EDIT' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../assigned-requests">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'VISIT_I_BASIC_DATA' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="appliedapplicationEdit" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_NAME' | translate }}" type="text" nz-input formControlName="name" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_EMAIL' | translate }}" type="text" nz-input formControlName="email" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_PHONE_NO' | translate }}" type="text" nz-input formControlName="phone" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'MOBILE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_MOBILE_NO' | translate }}" type="text" nz-input formControlName="mobile" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'PARTICULAR_SIGNALS' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'SIGNAL' | translate }}" type="text" nz-input formControlName="particular_signal" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'SOCIAL_PAGE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_SOCIAL_LINK' | translate }}" type="text" nz-input formControlName="social_page" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'PASSPORT' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'DO_YOU_HAVE_PASSPORT' | translate }}"  formControlName="passport">
                                       <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'REFERENCE_REPORT' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input type="text" nz-input formControlName="reference_report" placeholder="{{ 'ENTER_REFERENCE_REPORT' | translate }}" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'DATE_OF_BIRTH' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control>
                                    <nz-date-picker formControlName="d_o_b" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_IDENTIFICATION_CARD' | translate }}" type="text" nz-input formControlName="id_card" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'AGE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_AGE' | translate }}" type="text" nz-input formControlName="age" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'EXPENDITION_DATE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control>
                                    <nz-date-picker formControlName="expendition_date" nzPlaceHolder="" nzAllowClear="false"></nz-date-picker>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'DRIVING_LICENSE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_DRIVING_LICENSE' | translate }}" type="text" nz-input formControlName="driving_license" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'BLOOD_TYPE' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_YOUR_BLOOD_TYPE' | translate }}" type="text" nz-input formControlName="blood_type" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'MILITARY_CARD' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                    <input  placeholder="{{ 'ENTER_MILITARY_CARD_NO.' | translate }}" type="text" nz-input formControlName="military_card" />
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'VISA' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'ARE_YOU_HAVE_VISA' | translate }}"  formControlName="visa">
                                       <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'MARITAL_STATUS' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'ARE_YOU_MARRIIED' | translate }}"  formControlName="marital_status">
                                       <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="1"></nz-option>
                                       <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="2"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5 ctm_right">
                                 <div>
                                    <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                              {{ 'SUBMIT' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'RESET' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

