<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'REQUESTS' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="applicationForm">
   <nz-form-item>
      <div class="row m-0 mt-3">
         <div class="col-md-12">
            <nz-card class="b_none">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'CANDIDATE_ID' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_CANDIDATE_ID' | translate }}" nz-input formControlName="candidate_id" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'CANDIDATE' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_CANDIDATE_NAME' | translate }}" nz-input formControlName="candidate" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_service">
                                 <nz-option nzLabel="{{ 'BUSINESS_ASSOCIATES' | translate }}" nzValue="1"></nz-option>
                                 <nz-option nzLabel="{{ 'BASIC' | translate }}" nzValue="2"></nz-option>
                                 <nz-option nzLabel="{{ 'BASIC_2' | translate }}" nzValue="3"></nz-option>
                                 <nz-option nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="4"></nz-option>
                                 <nz-option nzLabel="{{ 'SIMPLE_FINANCIAL' | translate }}" nzValue="5"></nz-option>
                                 <nz-option nzLabel="{{ 'POLYGRAPHS' | translate }}" nzValue="6"></nz-option>
                                 <nz-option nzLabel="{{ 'REFERENCING' | translate }}" nzValue="7"></nz-option>
                                 <nz-option nzLabel="{{ 'REFERENCING_2' | translate }}" nzValue="8"></nz-option>
                                 <nz-option nzLabel="{{ 'VISIT_1' | translate }}" nzValue="9"></nz-option>
                                 <nz-option nzLabel="{{ 'VISIT_2' | translate }}" nzValue="10"></nz-option>
                                 <nz-option nzLabel="{{ 'VISIT_3' | translate }}" nzValue="11"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'ASSISTANT' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_AN_ASSISTANT' | translate }}"  formControlName="assistant">
                                 <nz-option nzLabel="{{ 'CLAUDIA_LILIANA_RODRIGUEZ_RESTREPO' | translate }}" nzValue="1"></nz-option>
                                 <nz-option nzLabel="{{ 'LUISA_FERNANDA_BUENO_GOMEZ' | translate }}" nzValue="2"></nz-option>
                                 <nz-option nzLabel="{{ 'ANA_MILENA_SATIZABAL_TORRES' | translate }}" nzValue="3"></nz-option>
                                 <nz-option nzLabel="{{ 'GERALDINE_FAJARDO_ROJAS' | translate }}" nzValue="4"></nz-option>
                                 <nz-option nzLabel="{{ 'JOHANNA_MARGIE_ORTIZ_CARRERO' | translate }}" nzValue="5"></nz-option>
                                 <nz-option nzLabel="{{ 'KAREN_ELIANA_GAMBA_JIMENEZ' | translate }}" nzValue="6"></nz-option>
                                 <nz-option nzLabel="{{ 'ANA_MILLENA_FIT' | translate }}" nzValue="7"></nz-option>
                                 <nz-option nzLabel="{{ 'CLAUDIA_ALEJANDRA_HUERTAS_BOHORQUES' | translate }}" nzValue="8"></nz-option>
                                 <nz-option nzLabel="{{ 'CLAUDIA_ALEJANDRA_HUERTAS' | translate }}" nzValue="9"></nz-option>
                                 <nz-option nzLabel="{{ 'ANDRES_AMAZON' | translate }}" nzValue="10"></nz-option>
                                 <nz-option nzLabel="{{ 'GUILLERMO_VANEGAS' | translate }}" nzValue="11"></nz-option>
                                 <nz-option nzLabel="{{ 'STIVEN_PAEZ' | translate }}" nzValue="12"></nz-option>
                                 <nz-option nzLabel="{{ 'FRANCY_MILENA_DUENAS' | translate }}" nzValue="13"></nz-option>
                                 <nz-option nzLabel="{{ 'LUISA_SALINAS' | translate }}" nzValue="14"></nz-option>
                                 <nz-option nzLabel="{{ 'JUAN_JOSE_GUERRERO_HERRERA' | translate }}" nzValue="15"></nz-option>
                                 <nz-option nzLabel="{{ 'FABIAN_RODRIGUEZ' | translate }}" nzValue="16"></nz-option>
                                 <nz-option nzLabel="{{ 'YEIMI_ANDREA_MESA_FERNANDEZ' | translate }}" nzValue="17"></nz-option>
                                 <nz-option nzLabel="{{ 'ADRIANA_PATRIICA_FRANCO_ESPINEL' | translate }}" nzValue="18"></nz-option>
                                 <nz-option nzLabel="{{ 'ANGELA_MARIA_MORENO_HERNANDEZ' | translate }}" nzValue="19"></nz-option>
                                 <nz-option nzLabel="{{ 'ANA_LUCIA_HURTADO_GUTIERREZ' | translate }}" nzValue="20"></nz-option>
                                 <nz-option nzLabel="{{ 'NAYLA_LIZETH_ARCINIEGAS_PARRA' | translate }}" nzValue="21"></nz-option>
                                 <nz-option nzLabel="{{ 'LAURA_CAMILA_ARENAS_ALZATE' | translate }}" nzValue="22"></nz-option>
                                 <nz-option nzLabel="{{ 'LEIDY_JOHANNA_AREVALO_MONTENEGRO' | translate }}" nzValue="23"></nz-option>
                                 <nz-option nzLabel="{{ 'JESSICA_MILENA_SALINAS_MARTINEZ' | translate }}" nzValue="24"></nz-option>
                                 <nz-option nzLabel="{{ 'NOREIDYS_ROCIO_RUDA' | translate }}" nzValue="25"></nz-option>
                                 <nz-option nzLabel="{{ 'SEBASTIAN_FERNANDO_GAITAN_GONZALEZ' | translate }}" nzValue="26"></nz-option>
                                 <nz-option nzLabel="{{ 'JONATHAN_ALBERTO_GARCIA_VARGAS' | translate }}" nzValue="27"></nz-option>
                                 <nz-option nzLabel="{{ 'DAVID_ESTEBAN_SIERRA_LOTTA' | translate }}" nzValue="28"></nz-option>
                                 <nz-option nzLabel="{{ 'DIANA_CAROLINA_BELTRAN_PUENTES' | translate }}" nzValue="29"></nz-option>
                                 <nz-option nzLabel="{{ 'CRISTIAN_CAMILO_PINEDA_SEGURA' | translate }}" nzValue="30"></nz-option>
                                 <nz-option nzLabel="{{ 'OSCAR_FELIPE_AREVALO_CORREA' | translate }}" nzValue="31"></nz-option>
                                 <nz-option nzLabel="{{ 'JHON_SEBASTIAN_TINOCO_RODRIGUEZ' | translate }}" nzValue="32"></nz-option>
                                 <nz-option nzLabel="{{ 'INGRID_VANESS_COY_PAEZ' | translate }}" nzValue="33"></nz-option>
                                 <nz-option nzLabel="{{ 'XIOMARA_FARFÁN_GUERRERO' | translate }}" nzValue="34"></nz-option>
                                 <nz-option nzLabel="{{ 'NATALIA_RODRIGIEZ_SHAMPOO' | translate }}" nzValue="35"></nz-option>
                                 <nz-option nzLabel="{{ 'ANGIE_PAOLA_CARRENO_MALABER' | translate }}" nzValue="36"></nz-option>
                                 <nz-option nzLabel="{{ 'FLOR_EDILSEN_FRAILE_GUZMAN' | translate }}" nzValue="37"></nz-option>
                                 <nz-option nzLabel="{{ 'RUDDY_FERNANDA_GARCÍA_GUZMAN' | translate }}" nzValue="38"></nz-option>
                                 <nz-option nzLabel="{{ 'VANESSA_ARIZA_MUNOZ' | translate }}" nzValue="39"></nz-option>
                                 <nz-option nzLabel="{{ 'ANGIE_ALEJANDRA_CORTES_GUATIBONZA' | translate }}" nzValue="40"></nz-option>
                                 <nz-option nzLabel="{{ 'MAYERLY_GOMEZ_HINCAPIE' | translate }}" nzValue="41"></nz-option>
                                 <nz-option nzLabel="{{ 'JUAN_DAVID_RUBIANO_ROJAS' | translate }}" nzValue="42"></nz-option>
                                 <nz-option nzLabel="{{ 'DAYANNA_KATERIN_PINZON_PENA' | translate }}" nzValue="43"></nz-option>
                                 <nz-option nzLabel="{{ 'MARIA_FERNANDA_ESCOBAR_AGUIRRE' | translate }}" nzValue="44"></nz-option>
                                 <nz-option nzLabel="{{ 'KEVIN_ALEJANDRO_GOMEZ_FRANCO' | translate }}" nzValue="45"></nz-option>
                                 <nz-option nzLabel="{{ 'BRIYITH_NATALIA_FLOREZ_MUNOZ' | translate }}" nzValue="46"></nz-option>
                                 <nz-option nzLabel="{{ 'ANDREA_ESTEFANIA_CASTRO_MURCIA' | translate }}" nzValue="47"></nz-option>
                                 <nz-option nzLabel="{{ 'CAROLINA_PENA_SUAREZ' | translate }}" nzValue="48"></nz-option>
                                 <nz-option nzLabel="{{ 'PILAR_LILIANA_RIOJA_PEDROZA' | translate }}" nzValue="49"></nz-option>
                                 <nz-option nzLabel="{{ 'FANNY_ESPERANZA_YELLOW_CAMACHO' | translate }}" nzValue="50"></nz-option>
                                 <nz-option nzLabel="{{ 'YELLOW_FANNY' | translate }}" nzValue="51"></nz-option>
                                 <nz-option nzLabel="{{ 'YADIRA_GARCIA_VILLEGAS' | translate }}" nzValue="52"></nz-option>
                                 <nz-option nzLabel="{{ 'MERCEDES_ESTUPINAN' | translate }}" nzValue="53"></nz-option>
                                 <nz-option nzLabel="{{ 'MARIA_DEL_CARMEN_GONZALEZ_LOZADA' | translate }}" nzValue="54"></nz-option>
                                 <nz-option nzLabel="{{ 'JACINTO_LOPEZ' | translate }}" nzValue="55"></nz-option>
                                 <nz-option nzLabel="{{ 'CATALINA_CHIGUASUQUE_PORRAS' | translate }}" nzValue="56"></nz-option>
                                 <nz-option nzLabel="{{ 'ESPERANZA_MELO_CRUZ' | translate }}" nzValue="57"></nz-option>
                                 <nz-option nzLabel="{{ 'LUCIA_DEL_CARMEN_CARDOZO_MEJIA' | translate }}" nzValue="58"></nz-option>
                                 <nz-option nzLabel="{{ 'NESTOR_MORENO_CASTILLO' | translate }}" nzValue="59"></nz-option>
                                 <nz-option nzLabel="{{ 'JESUS_EDWIN_ROMERO_FORENO' | translate }}" nzValue="60"></nz-option>
                                 <nz-option nzLabel="{{ 'SANDRA_RIVERA' | translate }}" nzValue="61"></nz-option>
                                 <nz-option nzLabel="{{ 'LINA_VELEZ_BUSTAMANTE' | translate }}" nzValue="62"></nz-option>
                                 <nz-option nzLabel="{{ 'WILLIAM_RENGIFO_BARRETO' | translate }}" nzValue="63"></nz-option>
                                 <nz-option nzLabel="{{ 'MARIA_CRISTINA_MIRANDA_SANTOS' | translate }}" nzValue="64"></nz-option>
                                 <nz-option nzLabel="{{ 'ELSA_D_IAZ_GRANADOS_CONTRERAS' | translate }}" nzValue="65"></nz-option>
                                 <nz-option nzLabel="{{ 'JOHN_ALEXANDER_ALMONACID_GONZALEZ' | translate }}" nzValue="66"></nz-option>
                                 <nz-option nzLabel="{{ 'GILBERTO_PICO_MEZA' | translate }}" nzValue="67"></nz-option>
                                 <nz-option nzLabel="{{ 'EKIN_MAURICIO_RINCON_JUTERSORKY' | translate }}" nzValue="68"></nz-option>
                                 <nz-option nzLabel="{{ 'SCHEHERAZADE_BAZZANI_ARANGO' | translate }}" nzValue="69"></nz-option>
                                 <nz-option nzLabel="{{ 'JAIRO_MARTINEZ' | translate }}" nzValue="70"></nz-option>
                                 <nz-option nzLabel="{{ 'SCHEHERAZADE_BAZZANI' | translate }}" nzValue="71"></nz-option>
                                 <nz-option nzLabel="{{ 'CARLOS_ARTURIO_CABRERA_BOTERO' | translate }}" nzValue="72"></nz-option>
                                 <nz-option nzLabel="{{ 'GENITH_MELLADO_VARGAS' | translate }}" nzValue="73"></nz-option>
                                 <nz-option nzLabel="{{ 'LEIDY_NATALY_BURITICA_ARCILA' | translate }}" nzValue="74"></nz-option>
                                 <nz-option nzLabel="{{ 'PATRICIA_MORALES_MRG' | translate }}" nzValue="75"></nz-option>
                                 <nz-option nzLabel="{{ 'KAREN_JULIETH_VALENCIA_PINEROS' | translate }}" nzValue="76"></nz-option>
                                 <nz-option nzLabel="{{ 'PSL_POLYGRAPHY' | translate }}" nzValue="77"></nz-option>
                                 <nz-option nzLabel="{{ 'UPIPOLIGRAPHY' | translate }}" nzValue="78"></nz-option>
                                 <nz-option nzLabel="{{ 'ANTONIO_DIAZ' | translate }}" nzValue="79"></nz-option>
                                 <nz-option nzLabel="{{ 'JAHELLE_MARCELA_ECHAVARRIA_CACERES' | translate }}" nzValue="80"></nz-option>
                                 <nz-option nzLabel="{{ 'OSCAR_GERARDO_SANDOVAL' | translate }}" nzValue="81"></nz-option>
                                 <nz-option nzLabel="{{ 'ROCIO_ELIZABETH_PINEDA_JIMENEZ' | translate }}" nzValue="82"></nz-option>
                                 <nz-option nzLabel="{{ 'EFRAIN_GUERRERO' | translate }}" nzValue="83"></nz-option>
                                 <nz-option nzLabel="{{ 'JESSICA_ROMERO_PRIETO' | translate }}" nzValue="84"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'BUSINESS' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input  placeholder="{{ 'BUSINESS' | translate }}" type="text" nz-input formControlName="business" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'STATE' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_STATE' | translate }}"  formControlName="state" nzAllowClear>
                                 <nz-option nzLabel="{{ 'ASSIGNED_FIELD_ADVISOR' | translate }}" nzValue="1"></nz-option>
                                 <nz-option nzLabel="{{ 'ASSIGNED_ASSISTANCE' | translate }}" nzValue="2"></nz-option>
                                 <nz-option nzLabel="{{ 'ASSIGNED_VISITOR' | translate }}" nzValue="3"></nz-option>
                                 <nz-option nzLabel="{{ 'FINALIZED' | translate }}" nzValue="4"></nz-option>
                                 <nz-option nzLabel="{{ 'FINALIZED_ADVISOR' | translate }}" nzValue="5"></nz-option>
                                 <nz-option nzLabel="{{ 'JOINED' | translate }}" nzValue="6"></nz-option>
                                 <nz-option nzLabel="{{ 'PRELIMINARY' | translate }}" nzValue="7"></nz-option>
                                 <nz-option nzLabel="{{ 'ACADEMIC_VERIFICATION' | translate }}" nzValue="8"></nz-option>
                                 <nz-option nzLabel="{{ 'LABOR_VERIFICATION' | translate }}" nzValue="9"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="float-right my-3">            
                     <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                     {{ 'SUBMIT' | translate }}
                     </a>
                     <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                     {{ 'RESET' | translate }}
                     </a>          
                  </div>
               </div>
            </nz-card>
         </div>
      </div>
      <div class="row m-0">
      </div>
   </nz-form-item>
</form>