<section class="bg-w-shadow mb-4">
   <div class="container-fluid">
      <div class="row m-0 page-title-box-b">
         <div class="col-sm-12 p-0">
            <h4 class="page-title color-white">
               {{ 'ASSIGNED_REQUESTS' | translate }}
            </h4>
         </div>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="col-md-12 mb-3">
      <nz-card>
         <app-applied-application-form
            [appliedapplicationaccountData]="appliedapplicationaccountDatas">
         </app-applied-application-form>
      </nz-card>
   </div>
</div>
<div class="container-fluid">
   <div class="row m-0">
      <div class="col-md-12 mt-4">
         <nz-card class="bx_shadow">
            <app-applied-application-table
               [appliedapplicationaccountData]="appliedapplicationaccountDatas">
            </app-applied-application-table>
         </nz-card>
      </div>
   </div>
</div>