<section class="bg-w-shadow bg-b-shadow ctm_bx">
   <div class="container-fluid">
      <div class="row">
         <div class="offset-md-4 col-sm-4">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'REQUEST_RELATIONSHIP' | translate }}
               </h4>
            </div>
         </div>
         <div class="col-md-4">
            <div class="row p-10">
               <!-- <div class="col-md-8">
                  <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                     <input type="text" placeholder="{{ 'SEARCH' | translate }}" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                  </nz-input-group>
                  <ng-template #keyupsearchSuffixIcn>
                     <i nz-icon nzType="search"></i>
                  </ng-template>
               </div> -->
               <div class="offset-md-8 col-md-4">
                  <div class="row ctm_btn"> 
                     <a nz-button nzType="secondary" class="ctm-btn-light-export">
                     <i class="fa fa-download mr-1" aria-hidden="true"></i>{{ 'EXPORT' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<nz-table [nzData]="allocateinvoiceaccountDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th class="t_head">{{ 'COMPANY' | translate }}</th>
      <th class="t_head">{{ 'NO._INVOICE' | translate }}</th>
      <th class="t_head">{{ 'EXPENDITURE_CENTER' | translate }}</th>
      <th class="t_head">{{ 'UNIT_COST' | translate }}</th>
      <th class="t_head">{{ 'TRANSPORT_HIGH_RISK' | translate }}</th>
      <th class="t_head">{{ 'INTER_MUNICIPAL_TRANSPORT' | translate }}</th>
      <th class="t_head">{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of allocateinvoiceaccountDisplayData">
      <td class="t_bdy">{{ data.company }}</td>
      <td class="t_bdy">{{ data.no_invoice }}</td>
      <td class="t_bdy">{{ data.expenditure_center }}</td>
      <td class="t_bdy">{{ data.unit_cost }}</td>
      <td class="t_bdy">{{ data.transport_high_risk }}</td>
      <td class="t_bdy">{{ data.inter_municipal_transport }}</td>
      <td class="t_bdy">{{ data.state }}</td>
   </tr>
</tbody>
</nz-table>