@import './../../../scss/styles.scss';

app-layoutadminpanel {
  width: 100%;
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon{
  vertical-align: -2px;
}
.app-layout {
  height: 100vh;
}
span.menu-pos.ng-star-inserted {
  font-size: 11px;
  color: #212529;
}
.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  overflow: auto;
}

.header-trigger {
  height: 54px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
  color: $white;
  position: relative;
  top: -2px;  
}

.trigger:hover {
  color: $white;
}
.administrative {
  margin-top:15px;
  position: relative;
  text-align: center;
  padding-left: 24px;
  background: $white;
  transition: all .3s;
      h5{
        font-weight: 500;
        color: $dark_blue;
        padding: 10px 0px;
        margin: 0px;
        font-size: 15px;
      }
      h6{
        font-weight: 400;
        color: $light_gray;
        font-size: 13px;
      }
}

.administrative img {
  display:block;
  margin: 0 auto;
}

.sidebar-logo {
  margin-top:15px;
  position: relative;
  height: 54px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 54px;
  background: $white;
  transition: all .3s;
}

.sidebar-logo img {
  display:block;
  height: 45px;
  margin: 0 auto;
}
.ant-menu-item{
  &:hover { 
   background-color: #e9ecef; 
  }
  &:active { 
    background-color: #e9ecef;  
  }
}
.ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid transparent !important;
}
.m_bg{
  &:hover { 
    color:$black3 !important;
  background: #e9ecef !important;
  }

  &:active { 
    color:$black3 !important;
  background: #e9ecef !important; 
  }
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 54px;
  padding: 0;
  background: $dark_blue !important;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.inner-content {
  background: #f0f2f5;
}

.ant-layout-sider {
  background: $white;
}

.app-header {
  i {
    color: $white;
  }
}

.logout-dd {
  font-size: 1.3rem;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

.ant-layout-header {
  line-height: 50px;
  height: 54px;
}

.profile-dropdown {
  mat-icon {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.plus-outline {
  border: solid 2px $yellow1;
  border-radius: 50px;
  padding: 2px;  
}

.branch-name {
  color: $white !important;
  font-size: 1.2rem;
  vertical-align: 2.4px;
  margin-left: 30px;  
}

.ant-layout {
  width: 100%;
}

.ant-menu {
  .ant-menu-item {
    a {
      img {
        vertical-align: 0px;
        width: 15px;
        height: 15px;
      }
      span {
        position: relative;
        color: $black3;
        top: -2px;
        font-size: 11px;
      }
    }
  }
  .ant-menu-submenu {
    .ant-menu-submenu-title {
      img {
        width: 15px !important;
        height: 15px !important;
      }
    }
  }
}
