<section class="bg-w-shadow bg-b-shadow ctm_bx">
  <div class="container-fluid ">
     <div class="row">
        <div class="offset-md-4 col-sm-4">
           <div class="page-title-box-b">
              <h4 class="page-title text-center color-white">
                 {{ 'LIST_OF_REQUESTS' | translate }}
              </h4>
           </div>
        </div>
        <div class="col-md-4">
            <div class="row p-10">
               <!-- <div class="col-md-8">
                  <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                     <input type="text" placeholder="{{ 'SEARCH' | translate }}" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                  </nz-input-group>
                  <ng-template #keyupsearchSuffixIcn>
                     <i nz-icon nzType="search"></i>
                  </ng-template>
               </div> -->
               <div class="offset-md-8 col-md-4">
                  <div class="row ctm_btn"> 
                     <a nz-button nzType="secondary" class="ctm-btn-light-export">
                     <i class="fa fa-download mr-1" aria-hidden="true"></i>{{ 'EXPORT' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
     </div>
  </div>
</section>
<nz-table [nzData]="applicationaccountDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
  <div class="black2">
     {{ 'NO_RECORD_FOUND' | translate }}
  </div>
</ng-template>
<thead> 
  <tr>
     <th class="t_head">{{ 'S_NO' | translate }}</th>
     <th class="t_head">{{ 'BUSINESS' | translate }}</th>
     <th class="t_head">{{ 'SERVICE' | translate }}</th>
     
     <th class="t_head">{{ 'IDENTIFICATION_CARD' | translate }}</th>
     <th class="t_head">{{ 'CANDIDATE' | translate }}</th>
     <th class="t_head">{{ 'APPLICATION_DATE' | translate }}</th>
    
     <th class="t_head">{{ 'STATE' | translate }}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of applicationaccountDisplayData; index as i">
     <td class="t_bdy">{{ i + 1  }}</td>
     <td class="t_bdy">{{ data.cbusiness }}</td>
     <td class="t_bdy">{{ data.services }}</td>
     <td class="t_bdy">{{ data.identity_document }}</td>
     <td class="t_bdy">{{ data.firstname }} {{ data.lastname }}</td>
     <td class="t_bdy">{{ data.creatDate }}</td>
     <!-- <td class="t_bdy">{{ data.days_passed }}</td> -->
     <td class="t_bdy mr-2">{{ data.state }}
      <!-- <a nz-button nzType="primary" nzShape="round"  [routerLink]="['edit', data.request_Id]" class="ctm-btn-green px-2 mr-1 mb-1">
         <img src="assets/images/edit.png">          
         </a> -->
         <a nz-button nzType="primary" nzShape="round" [routerLink]="['status', data.request_Id]" class="ctm-btn-status px-2 mr-1 mb-1">
         <img src="assets/images/status.png">           
         </a> 
         <a nz-button nzType="primary" nzShape="round" routerLink="delete" class="ctm-btn-dark-delete px-2 mr-1 mb-1">
            <img src="assets/images/delete.png">
            </a>   
         <!-- <a nz-button nzType="primary" nzShape="round" class="ctm-btn-print px-2 mr-1 mb-1">
         <img src="assets/images/print.png">
         </a> -->
        
     </td>
    
  </tr>
</tbody>
</nz-table>