

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../consult">{{ 'CUSTOMERS' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'CONSULT' | translate }}
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'EDIT' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="m-t-1">
   <ng-template #generalTitleTemplate>
      <div class="ctm-card-title color-white">
         <a routerLink="../../consult">
            <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
            </a>
         <span>{{ 'MODIFY_CUSTOMERS' | translate }}</span>
      </div>
   </ng-template>
   <div class="content-section">
      <div class="row">
         <div class="col-md-12">

              <form nz-form [formGroup]="customercreate" class="ctm-label-r">
               
               <div class="m-b-20">
                   <div class="">
                      <nz-card nzType="inner"  [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                       
                        <div class="row">
                            <div class="col-md-12">
                        <nz-steps [nzCurrent]="current">
                           <nz-step nzTitle="{{'Company_Info' | translate }}"></nz-step>
                           <nz-step nzTitle="{{'Service_Charges' | translate }}"></nz-step>
                         </nz-steps>
                        </div>
                      </div>  
                      <p></p>
                        <nz-form-item>
                           <div class="row" *ngIf="index == 'First-content'">
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'BUSINESS_NAME' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_BUSINESS NAME' | translate }}" type="text" nz-input formControlName="business_name" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'COMPANIES_NAME' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_COMPANIES_NAME' | translate }}" type="text" nz-input formControlName="company_name" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'MAIL' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_MAIL' | translate }}" type="mail" nz-input formControlName="mail" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7" *ngIf="this.customercreate.value.department == '1'">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                             <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                             <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                             <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                             <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                    <div class="col-md-7" *ngIf="this.customercreate.value.department == '2'">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                             <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                             <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                             <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                             <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                          </nz-select>
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'LANDLINE_NO' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_LANDLINE_NO' | translate }}" type="text" nz-input formControlName="landline" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'PHONE' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_YOUR_PHONE_NO' | translate }}" type="text" nz-input formControlName="phone" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'ENTER_NO_CARD_NIT' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input type="text" nz-input formControlName="card_nit" placeholder="{{ 'ENTER_NO_CARD_NIT' | translate }}" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'LEGAL_REP' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_LEGAL_REP' | translate }}" type="text" nz-input formControlName="legal_rep" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'DIRECT_EMPLOYEES' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_DIRECT_EMPLOYEES' | translate }}" type="text" nz-input formControlName="direct_employees" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'INDIRECT_EMPLOYEES' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_INDIRECT_EMPLOYEES' | translate }}" type="text" nz-input formControlName="indirect_direct_employess" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'AREA' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_AREA' | translate }}" type="text" nz-input formControlName="area" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'SUBCONTRACTING_COMPANIES' | translate }}</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7 mt-2">
                                       <nz-radio-group [ngModelOptions]="{standalone: true}"  formControlName="activate_account_link">
                                       <label nz-radio nzValue="1">{{ 'YES' | translate }}</label>
                                       <label nz-radio nzValue="0">{{ 'NO' | translate }}</label>
                                       </nz-radio-group>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'COST_CENTER' | translate }}</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_COST_CENTER' | translate }}" type="text" nz-input formControlName="cost_center" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'WORK_CENTER' | translate }}</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_WORK_CENTER' | translate }}" type="text" nz-input formControlName="work_center" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'BILLING_CUT_OF_DATE' | translate }}</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                          <nz-date-picker  formControlName="billing_date"></nz-date-picker>
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'NO_OF_EMPLOYEE' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                          <input  placeholder="{{ 'ENTER_NO_OF_EMPLOYEE' | translate }}" type="text" nz-input formControlName="no_of_employee" />
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                             
                              <div class="col-md-6">
                                 <div class="row">
                                    <div class="col-md-5 ctm_right">
                                       <div>
                                          <nz-form-label>{{ 'ADDRESS' | translate }}*</nz-form-label>
                                       </div>
                                    </div>
                                    <div class="col-md-7">
                                       <nz-form-control> 
                                          <textarea formControlName="address" nz-input rows="2" placeholder="{{ 'ENTER_YOUR_ADDRESS' | translate }}"></textarea>   
                                       </nz-form-control>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 my-2">
                                 <div class="float-right">            
                                    <!-- <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                                    {{ 'SUBMIT' | translate }}
                                    </a>
                                    <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                                    {{ 'RESET' | translate }}
                                    </a>  -->
                                             
                                 </div>
                              </div>
                           </div>
                            <div class="row" *ngIf="index == 'Second-content'">
                                <div class="col-12">
                                      <section class="container border mb-4 p-3" formArrayName="items"
                                      *ngFor="let item of customercreate.get('items')['controls']; let i = index;">
                                     
                                     <div class="row" [formGroupName]="i">
                                       <div class="col-5">
                                          <div class="form-group">
                                             <label>{{ 'AREA' | translate }}</label>
                                             <select class="form-control" formControlName="service" >
                                                <option selected="selected">{{ 'SELECT_ONE_service' | translate }}</option>
                                                <option value="1">{{ 'CENTRALES_DE_RIESGO' | translate }}</option>
                                               <option value="2">{{ 'CONFIABILIDAD' | translate }}</option>
                                               <option value="3">{{ 'PRUEBAS_ASOCIADOS' | translate }}</option>
                                               <option value="3">{{ 'PRUEBAS_POLIGRAFICAS' | translate }}</option>
                                               <option value="3">{{ 'RELIABILITY' | translate }}</option>
                                               <option value="3">{{ 'POLYGRAPHIC_AND_VSA' | translate }}</option>
                                               <option value="3">{{ 'OPERATIONS' | translate }}</option>
                                             </select>
                                           </div>
                                       </div>
                                       <div class="col-5">
                                           <div class="form-group">
                                               <label>{{ 'Service_Charges' | translate }}</label>
                                               <input type="number" class="form-control" formControlName="price" placeholder="0"/>
                                             </div>
                                       </div>
                                       <div class="col-2 text-right">
                                         
                                          <button type="button" class="btn margin-topremovet btn-danger btn-sm" (click)="removeAddress(i)">{{ 'REMOVE' | translate }}</button>
                                      </div>
                                     </div>
                                     
                                
                                   </section>
                             
                                   <div class="text-right">
                                    <button type="button" class="btn btn-primary mb-2" (click)="addAddress()" >{{ 'Add_field' | translate }}</button>
                                
                                   </div>
                               </div>

                            </div>
                     <br/>
                            
                            
                              <div class="col-md-6 my-2">
                                 <div class="float-right">            
                                    <!-- <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                                    
                                    </a> -->
                                    <!-- <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                                   
                                    </a>  -->
                                       
                                 </div>
                              </div>
                          
                        </nz-form-item>  
                        
                        

                     </nz-card>
                  </div>

               </div>
            </form>
            <div class="steps-action">
               <button nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="pre()" *ngIf="current > 0">
                 <span> {{ 'Previous' | translate }}</span>
               </button>
               <button nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="next()" *ngIf="current < 1">
                 <span>{{ 'Next' | translate }}</span>
               </button>
               <button nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="done()" *ngIf="current === 1">
                 <span>{{ 'Done' | translate }}</span>
               </button>
             </div>
         </div>
      </div>
   </div>
</div>

