<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                       {{ 'PERSONAL' | translate }}
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'CREATE' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <span>{{ 'CREATE_NEW_EMPLOYEE' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form [formGroup]="personalcreateform"  (ngSubmit)="submitForm()"  class="ctm-label-r">
         <nz-spin [nzSpinning]="isSpinning"> 
          <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                      <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_NAME' | translate }}" type="text" nz-input formControlName="name" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_LAST_NAME' | translate }}" type="text" nz-input formControlName="last_name" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'MAIL' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_MAIL' | translate }}" type="email" nz-input formControlName="mail" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                        <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'PHONE_NO' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_YOUR_PHONE_NO' | translate }}" type="text" nz-input formControlName="phone" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'MOBILE_NO' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_YOUR_MOBILE_NO' | translate }}" type="text" nz-input formControlName="mobile" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                        <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7" *ngIf="this.personalcreateform.value.department == '1'">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                      <nz-option nzLabel="{{ 'LETICIA' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'TARAPACA' | translate }}" nzValue="2"></nz-option>
                                      <nz-option nzLabel="{{ 'THE_CHARM' | translate }}" nzValue="3"></nz-option>
                                      <nz-option nzLabel="{{ 'THE_CHORRERA' | translate }}" nzValue="4"></nz-option>
                                   </nz-select>
                                </nz-form-control>
                             </div>
                             <div class="col-md-7" *ngIf="this.personalcreateform.value.department == '2'">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="city">
                                      <nz-option nzLabel="{{ 'CAUCASIA' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'SAN_CRISTOBAL' | translate }}" nzValue="2"></nz-option>
                                   </nz-select>
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="department">
                                      <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                   </nz-select>
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'USER_TYPE' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_A_TYPE' | translate }}"  formControlName="user_type">
                                    <nz-option *ngFor="let r of roles" [nzValue]="r.type_id" [nzLabel]="r.typeName"></nz-option>
                                         
                                      <!-- <nz-option nzLabel="{{ 'ADVISER' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'POLYGRAPHIST' | translate }}" nzValue="2"></nz-option>
                                      <nz-option nzLabel="{{ 'POLYGRAPHIST' | translate }}" nzValue="3"></nz-option>
                                      <nz-option nzLabel="{{ 'ASSISTANT' | translate }}" nzValue="4"></nz-option>
                                      <nz-option nzLabel="{{ 'ADMINISTRATIVE' | translate }}" nzValue="5"></nz-option>
                                      <nz-option nzLabel="{{ 'VISITOR' | translate }}" nzValue="6"></nz-option>
                                      <nz-option nzLabel="{{ 'PROGRAMMER_VISITS' | translate }}" nzValue="7"></nz-option> -->
                                   </nz-select>
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_IDENTIFICATION_CARD' | translate }}" type="text" nz-input formControlName="id_card" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       
                        <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'POSITION' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_YOUR_POSITION' | translate }}" type="text" nz-input formControlName="position" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'AREA' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_AREA' | translate }}" type="text" nz-input formControlName="area" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'PROFESSION' | translate }}*</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_PROFESSION' | translate }}" type="text" nz-input formControlName="profession" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'ATTACH_PHOTO' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <input   class="my-2 h-auto" type="file" nz-input formControlName="attach_photo" />
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6 my-3">
                          <div class="float-right">            
                             <button nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                             {{ 'SUBMIT' | translate }}
                             </button>
                             <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                             {{ 'RESET' | translate }}
                             </a>          
                          </div>
                       </div>
                    </div>
                 </nz-form-item>
              </nz-card>
           </div>
         </nz-spin>  
        </form>
     </div>
  </div>
</div>