<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../quality">{{ 'QUALITY' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'DELETE' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../quality">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'REMOVE_BRAND' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="qualitydelete" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>John</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'BUSSINESS' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Merco group</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Business associates</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>458689</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'ASSIGNED_TO' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Vanessa ariza</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Finalized</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                              {{ 'DELETE' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'CANCEL' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

