<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../">{{ 'REQUESTS' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'STATUS' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
 </section>
 <ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'REQUEST_STATUS' | translate }}</span>
   </div>
 </ng-template>
 <div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="applicationStatus" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'JOINED' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label nz-checkbox nzValue="1" formControlName="joined" [ngModel]="joined"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                    <small>{{joindate | date:'short'}}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'ACADEMIC_VERIFICATION' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label  nz-checkbox  nzValue="1" formControlName="academicv" [ngModel]="academicv"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                    <small *ngIf="academicv">{{ 'YES' | translate }}</small>
                                    <small *ngIf="academicv == false">{{ 'No' | translate }}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'ASSIGNED_TO_FIELD_ADVISOR' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label nz-checkbox nzValue="1"  formControlName="assignoadvisor" [ngModel]="assignoadvisor"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                    <small>{{assignadvisordate | date:'short' }}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'LABOUR_VERIFICATION' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label  nz-checkbox nzValue="1" formControlName="labourv" [ngModel]="labourv"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                 
                                     <small *ngIf="labourv">{{ 'YES' | translate }}</small>
                                     <small *ngIf="labourv == false">{{ 'No' | translate }}</small>
                                 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'CONCEPT' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" [(ngModel)]='concept'  formControlName="concept">
                                       <nz-option nzLabel="{{ 'N1' | translate }}" nzValue="N1"></nz-option>
                                       <nz-option nzLabel="{{ 'N2' | translate }}" nzValue="N2"></nz-option>
                                       <nz-option nzLabel="{{ 'N3' | translate }}" nzValue="N3"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                              <div class="col-md-4">
                                 
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'IT_HAS_A_BACKGROUND' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}" [ngModel]="background"  formControlName="background">
                                       <nz-option nzLabel="{{ 'YES' | translate }}" nzValue="yes"></nz-option>
                                       <nz-option nzLabel="{{ 'NO' | translate }}" nzValue="no"></nz-option>
                                    </nz-select>
                                 </nz-form-control>
                              </div>
                              <div class="col-md-4">
                                 
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'PRELIMINARY' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label  nz-checkbox nzValue="1" formControlName="preliminary"  [ngModel]="preliminary"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                  <small *ngIf="preliminary">{{ 'YES' | translate }}</small>
                                  <small *ngIf="preliminary == false">{{ 'No' | translate }}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'FINIALIZED' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label  nz-checkbox nzValue="1" formControlName="finialized"  [ngModel]="finialized"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                    <small>{{finalizedate | date:'short'}}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'PHYSICAL_ENVOY' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label  nz-checkbox nzValue="1" formControlName="physical"  [ngModel]="physical"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                  <small *ngIf="physical">{{ 'YES' | translate }}</small>
                                  <small *ngIf="physical == false">{{ 'No' | translate }}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 my-1">
                           <div class="row">
                              <div class="col-md-4">
                                 <div>
                                    <nz-form-label>{{ 'APPROVAL' | translate }}</nz-form-label>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center">
                                 <nz-checkbox-wrapper (nzOnChange)="log($event)">
                                    <div nz-row>
                                       <label  nz-checkbox nzValue="1 " formControlName="approval"  [ngModel]="approval"></label>
                                    </div>
                                 </nz-checkbox-wrapper>
                              </div>
                              <div class="col-md-4">
                                 <div>
                                  <small *ngIf="approval">{{ 'YES' | translate }}</small>
                                  <small *ngIf="approval == false">{{ 'No' | translate }}</small>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveApplication()">
                              {{ 'SUBMIT' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'RESET' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
 </div>