<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'EMPLOYEES' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="employeesconsultForm">
   <nz-form-item>
      <div class="row m-0 mt-3">
         <div class="col-md-12">
            <nz-card class="b_none">
               <div class="row">
                 <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_YOUR_NAME' | translate }}" nz-input formControlName="name" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'LAST_NAME' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_YOUR_LAST_NAME' | translate }}" nz-input formControlName="last_name" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'USER' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'USER' | translate }}" nz-input formControlName="user" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                   <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_IDENTIFICATION_CARD' | translate }}" nz-input formControlName="id_card" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 my-3">
                     <div class="float-right">            
                        <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                        {{ 'SUBMIT' | translate }}
                        </a>
                        <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                        {{ 'RESET' | translate }}
                        </a>          
                     </div>
                  </div>
               </div>
            </nz-card>
         </div>
      </div>
      <div class="row m-0">
      </div>
   </nz-form-item>
</form>