<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title text-center color-white">
                 {{ 'FIND_PRODUCTS' | translate }}
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="productForm">
  <nz-form-item>
     <div class="row m-0 mt-3">
        <div class="col-md-12">
           <nz-card class="b_none">
              <div class="row">
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'PRODUCT_CODE' | translate }}*</nz-form-label>
                       </div>
                       <div class="col-md-7">
                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                             <input type="text" placeholder="{{ 'ENTER_PRODUCT_CODE' | translate }}" nz-input formControlName="product_code" />
                          </nz-form-control>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6  mt-3">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <a routerLink="new-service">
                        <img src="assets/images/plus-icon.png">
                     </a>
                     </div>
                     <div class="col-md-7 ">
                        <label>{{ 'ADD_NEW_SERVICE' | translate }}</label>
                     </div>
                  </div>
               </div>
              </div>
              <div class="row">
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'PRODUCT_NAME' | translate }}*</nz-form-label>
                       </div>
                       <div class="col-md-7">
                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                             <input  placeholder="{{ 'ENTER_PRODUCT_NAME' | translate }}" type="text" nz-input formControlName="product_name" />
                          </nz-form-control>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6  mt-1">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <a routerLink="new-product">
                        <img src="assets/images/plus-icon.png">
                     </a>
                     </div>
                     <div class="col-md-7 ">
                        <label>{{ 'ADD_NEW_PRODUCT' | translate }}</label>
                     </div>
                  </div>
               </div>
              
              </div>
              <div class="col-md-12">
                <div class="float-right mb-4 mt-2">            
                   <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                   {{ 'SUBMIT' | translate }}
                   </a>
                   <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                   {{ 'RESET' | translate }}
                   </a>          
                </div>
             </div>
           </nz-card>
        </div>
     </div>
     <div class="row m-0">
     </div>
  </nz-form-item>
</form>