<section class="bg-w-shadow bg-b-shadow ctm_bx">
  <div class="container-fluid">
     <div class="row">
        <div class="offset-md-4 col-sm-4">
           <div class="page-title-box-b">
              <h4 class="page-title text-center color-white">
                 {{ 'USER' | translate }}
              </h4>
           </div>
        </div>

     </div>
  </div>
</section>
<nz-table [nzData]="customerconsultusertableDisplayData" nzShowSizeChanger class="bg-white">

<thead>
  <tr>
     <th class="t_head">{{ 'USER_ID' | translate }}</th>
     <th class="t_head">{{ 'CITY' | translate }}</th>
     <th class="t_head">{{ 'NAME' | translate }}</th>
     <th class="t_head">{{ 'CELLULAR' | translate }}</th>
     <th class="t_head">{{ 'MAIL' | translate }}</th>
     <th class="t_head">{{ 'PROFESSION' | translate }}</th>
     <th class="t_head">{{ 'STATE' | translate }}</th>
     
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of customerconsultusertableDisplayData">
     <td class="t_bdy">{{ data.user_id }}</td>
     <td class="t_bdy">{{ data.city }}</td>
     <td class="t_bdy">{{ data.name }}</td>
     <td class="t_bdy">{{ data.cellular }}</td>
     <td class="t_bdy">{{ data.mail }}</td>
     <td class="t_bdy">{{ data.profession }}</td>
     <td class="t_bdy">{{ data.state }}</td>
  </tr>
</tbody>
</nz-table>