<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                       <a routerLink="../../">{{ 'REQUESTS' | translate }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'EDIT' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <a routerLink="../../">
     <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
     </a>
     <span>{{ 'MODIFY_USER' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form [formGroup]="applicationEdit" class="ctm-label-r">
           <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'IDENTIFICATION_DOCUMENT' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="identity_document" placeholder="{{ 'IDENTIFICATION_DOCUMENT' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 ">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'TYPE_OF_DOCUMENT' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="typeofDocument" placeholder="{{ 'TYPE_OF_DOCUMENT' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 ">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'DocumentoNumber' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="ducumentNumber" placeholder="{{ 'DocumentoNumber' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'CANDIDATE_NAME' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="firstname" placeholder="{{ 'CANDIDATE_NAME' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'APELLIDOS' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="lastname" placeholder="{{ 'APELLIDOS' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="email" placeholder="{{ 'EMAIL' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
    
                    <div class="col-md-6 ">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'Direction' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="direction" placeholder="{{ 'Direction' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'TELEPHONE' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="phone" placeholder="{{ 'TELEPHONE' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'CELLULAR' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control>    
                                 <input type="text" nz-input formControlName="mobile" placeholder="{{ 'CELLULAR' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <div>
                                 <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                              </div>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                 <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="departmant">
                                    <nz-option nzLabel="{{ 'AMAZON' | translate }}" nzValue="1"></nz-option>
                                    <nz-option nzLabel="{{ 'ANTIOQUIA' | translate }}" nzValue="2"></nz-option>
                                 </nz-select>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'NEIGHBORHOOD' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="neighborhood" placeholder="{{ 'NEIGHBORHOOD' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'Cargo' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="position" placeholder="{{ 'Cargo' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6" >
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'EXPENDITURE_CENTER' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="expenditureCenter" placeholder="{{ 'EXPENDITURE_CENTER' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-6" >
                                       <div class="row">
                                          <div class="col-md-5 ctm_right">
                                             <div>
                                                <nz-form-label>{{ 'OBSERVATIONS' | translate }}</nz-form-label>
                                             </div>
                                          </div>
                                          <div class="col-md-7">
                                             <nz-form-control>    
                                                <input type="text" nz-input formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" />
                                             </nz-form-control>
                                          </div>
                                       </div>
                                    </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DESCRIPTION' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="description" placeholder="{{ 'DESCRIPTION' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-5 ctm_right">
                                          <div>
                                             <nz-form-label>{{ 'DETAILS' | translate }}</nz-form-label>
                                          </div>
                                       </div>
                                       <div class="col-md-7">
                                          <nz-form-control>    
                                             <input type="text" nz-input formControlName="details" placeholder="{{ 'DETAILS' | translate }}" />
                                          </nz-form-control>
                                       </div>
                                    </div>
                                 </div>
                                    

                       <div class="col-md-6">
                          <div class="float-right my-3">            
                             <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                             {{ 'SUBMIT' | translate }}
                             </a>
                             <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                             {{ 'RESET' | translate }}
                             </a>          
                          </div>
                       </div>
                    </div>
                 </nz-form-item>
              </nz-card>
           </div>
        </form>
     </div>
  </div>
</div>