<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                       <a routerLink="../../quality">{{ 'QUALITY' | translate }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'EDIT' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <a routerLink="../../quality">
     <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
     </a>
     <span>{{ 'MODIFY_USER' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form [formGroup]="qualityEdit" class="ctm-label-r">
           <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                    	 <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input  placeholder="{{ 'ENTER_NAME' | translate }}" type="text" nz-input formControlName="name" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'BUSINESS' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" nz-input formControlName="business" placeholder="{{ 'BUSINESS' | translate }}" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                     
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="type_of_service">
                                      <nz-option nzLabel="{{ 'BUSINESS_ASSOCIATES' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'BASIC' | translate }}" nzValue="2"></nz-option>
                                      <nz-option nzLabel="{{ 'BASIC_2' | translate }}" nzValue="3"></nz-option>
                                      <nz-option nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="4"></nz-option>
                                      <nz-option nzLabel="{{ 'POLYGRAPHS' | translate }}" nzValue="5"></nz-option>
                                   </nz-select>
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                      
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text"  placeholder="{{ 'ENTER_IDENTIFICATION_CARD' | translate }}" nz-input formControlName="id_card" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'ASSIGNED_TO' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" placeholder="{{ 'ENTER_ASSIGNED_TO' | translate }}" nz-input formControlName="assigned_to" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_ONE' | translate }}"  formControlName="state">
                                      <nz-option nzLabel="{{ 'ASSIGNED_FIELD_ADVISOR' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'ASSIGNED_ASSISTANCE' | translate }}" nzValue="2"></nz-option>
                                      <nz-option nzLabel="{{ 'ASSIGNED_VISITOR' | translate }}" nzValue="3"></nz-option>
                                      <nz-option nzLabel="{{ 'FINALIZED' | translate }}" nzValue="4"></nz-option>
                                      <nz-option nzLabel="{{ 'FINALIZED_ADVISOR' | translate }}" nzValue="5"></nz-option>
                                      <nz-option nzLabel="{{ 'JOINED' | translate }}" nzValue="6"></nz-option>
                                      <nz-option nzLabel="{{ 'PRELIMINARY' | translate }}" nzValue="7"></nz-option>
                                      <nz-option nzLabel="{{ 'ACADEMIC_VERIFICATION' | translate }}" nzValue="8"></nz-option>
                                      <nz-option nzLabel="{{ 'LABOR_VERIFICATION' | translate }}" nzValue="9"></nz-option>
                                   </nz-select>
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-12">
                          <div class="float-right my-3">            
                             <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                             {{ 'SUBMIT' | translate }}
                             </a>
                             <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                             {{ 'RESET' | translate }}
                             </a>          
                          </div>
                       </div>
                    </div>
                 </nz-form-item>
              </nz-card>
           </div>
        </form>
     </div>
  </div>
</div>