<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                     <a routerLink="../..">{{ 'PERSONAL' | translate }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'CONSULT' | translate }}
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'DELETE' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <a routerLink="../..">
     <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
     </a>
     <span>{{ 'REMOVE_BRAND' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form [formGroup]="customerconsultdelete" class="ctm-label-r">
           <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.firstName}}</small>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.lastName}}</small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'MAIL' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.email}}</small>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.mobile}}</small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.city}}</small>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.department}}</small>
                           </div>
                        </div>
                     </div>
                  </div>
                
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'USER_TYPE' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.usertypetitle}}</small>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5">
                              <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <small>{{userdata.identity}}</small>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                     <div class="row">
                      <div class="col-md-12">
                      <div class="float-right my-3">            
                         <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="consultdelete()">
                         {{ 'DELETE' | translate }}
                         </a>
                                 
                      </div>
                   </div>
                     </div>
                  </nz-form-item>
               </nz-card>
           </div>
        </form>
     </div>
  </div>
</div>