<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                       <a routerLink="../../create-application">{{ 'CREATE_APPLICATION' | translate }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'ADD' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<ng-template #generalTitleTemplate>
  <div class="ctm-card-title color-white">
     <a routerLink="../../create-application">
     <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
     </a>
     <span>{{ 'ADD_REQUESTS' | translate }}</span>
  </div>
</ng-template>
<div class="content-section">
  <div class="row">
     <div class="col-md-12">
        <form nz-form [formGroup]="createapplicationaddForm" class="ctm-label-r">
           <div class="m-b-20">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" nz-input formControlName="name" placeholder="{{ 'ENTER_YOUR_NAME' | translate }}" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'USER_NAME' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" placeholder="{{ 'ENTER_YOUR_USER_NAME' | translate }}" nz-input formControlName="user_name" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <div>
                                   <nz-form-label>{{ 'EMAIL' | translate }}</nz-form-label>
                                </div>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" placeholder="{{ 'ENTER_YOUR_EMAIL' | translate }}" nz-input formControlName="email" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5 ctm_right">
                                <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                                   <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_services">
                                      <nz-option nzLabel="{{ 'BUSINESS_ASSOCIATES' | translate }}" nzValue="1"></nz-option>
                                      <nz-option nzLabel="{{ 'BASIC' | translate }}" nzValue="2"></nz-option>
                                      <nz-option nzLabel="{{ 'BASIC_2' | translate }}" nzValue="3"></nz-option>
                                      <nz-option nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="4"></nz-option>
                                      <nz-option nzLabel="{{ 'SIMPLE_FINANCIAL' | translate }}" nzValue="5"></nz-option>
                                      <nz-option nzLabel="{{ 'POLYGRAPHS' | translate }}" nzValue="6"></nz-option>
                                      <nz-option nzLabel="{{ 'REFERENCING' | translate }}" nzValue="7"></nz-option>
                                      <nz-option nzLabel="{{ 'REFERENCING_2' | translate }}" nzValue="8"></nz-option>
                                      <nz-option nzLabel="{{ 'VISIT_1' | translate }}" nzValue="9"></nz-option>
                                      <nz-option nzLabel="{{ 'VISIT_2' | translate }}" nzValue="10"></nz-option>
                                      <nz-option nzLabel="{{ 'VISIT_3' | translate }}" nzValue="11"></nz-option>
                                   </nz-select>
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-12">
                          <div class="float-right my-2">            
                             <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCreateapplication()">
                             {{ 'SUBMIT' | translate }}
                             </a>
                             <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                             {{ 'RESET' | translate }}
                             </a>          
                          </div>
                       </div>
                    </div>
                 </nz-form-item>
              </nz-card>
           </div>
        </form>
     </div>
  </div>
</div>