.t_head{
  font-size: 11px;
  background: #35598d;
  color:#fff;
  
}
.t_bdy{
  font-size: 13px;
}
.t_head_row{
  background: #35598d;
}
.bg-w-shadow{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}