

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../assigned-requests">{{ 'ASSIGNED_REQUESTS' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'DELETE' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../assigned-requests">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'REMOVE_BRAND' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="appliedapplicationdelete" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Alex</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Satizalbal</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'MAIL' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>assistant@colpryst.com</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'AREA' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>consulting</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'TELEPHONE_NO' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>+91567895</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CELLULAR' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>+23-899976623</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'USER_TYPE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>97</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'USER' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>aaistant@colpryst.in</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>47</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>99790090877</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'GROUPING_COMPANY' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>NO</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CHARGE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Polygraphy coordinator</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                              {{ 'DELETE' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'CANCEL' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

