<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        {{ 'CUSTOMERS' | translate }}
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'CHANGE_PASSWORD' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <span>{{ 'CHANGE_PASSWORD' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form class="ctm-label-r" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
         <div class="m-b-20">
            <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
               <nz-form-item>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <nz-form-label>{{ 'EMAIL' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzErrorTip="{{ 'ENTER_YOUR_EMAIL' | translate }}">
                                 <input type="email" nz-input formControlName="email" placeholder="{{ 'ENTER_YOUR_EMAIL' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <nz-form-label>{{ 'PASSWORD' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzErrorTip="{{ 'ENTER_YOUR_PASSWORD' | translate }}">
                                 <input nz-input type="password" formControlName="password" placeholder="{{ 'ENTER_YOUR_PASSWORD' | translate }}" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <nz-form-label>{{ 'NEW_PASSWORD' | translate }}*</nz-form-label>
                           </div>
                           <!-- <div class="col-md-7">
                              <nz-form-control nzHasFeedback nzErrorTip="{{ 'ENTER_YOUR_NEW_PASSWORD' | translate }}">
                                 <input nz-input type="password" formControlName="newpassword" placeholder="{{ 'ENTER_YOUR_NEW_PASSWORD' | translate }}" (ngModelChange)="validateConfirmPassword()" />
                              </nz-form-control>
                              </div> -->
                           <div class="col-md-7">
                              <nz-form-control  nzErrorTip="{{ 'ENTER_YOUR_NEW_PASSWORD' | translate }}">
                                 <input nz-input type="password" formControlName="newpassword" placeholder="{{ 'ENTER_YOUR_NEW_PASSWORD' | translate }}" (ngModelChange)="validateConfirmPassword()" />
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-5 ctm_right">
                              <nz-form-label>{{ 'CONFIRM_PASSWORD' | translate }}*</nz-form-label>
                           </div>
                           <div class="col-md-7">
                              <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                                 <input nz-input type="password" formControlName="confirm" placeholder="{{ 'ENTER_YOUR_CONFIRM_PASSWORD' | translate }}" />
                                 <ng-template #passwordErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                       {{ 'PLEASE_CONFIRM_YOUR_PASSWORD' | translate }}
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('confirm')">
                                       {{ 'PASSWORD_IS_INCONSISTENT' | translate }}
                                    </ng-container>
                                 </ng-template>
                              </nz-form-control>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="float-right my-3">  
                        <button nz-button  class="ctm-btn-dark-blue mr-2">{{ 'SUBMIT' | translate }}</button>
                        <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                        {{ 'RESET' | translate }}
                        </a>         
                     </div>
                  </div>
               </nz-form-item>
            </nz-card>
         </div>
         </form>
      </div>
   </div>
</div>