

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../consult">{{ 'CUSTOMERS' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'CONSULT' | translate }}
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'DELETE' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../consult">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span>{{ 'DELETE_CUSTOMERS' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="customerconsultDelete" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'MAIL' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>alaxandra@kingocean.com</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Barranquilla</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>No</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'GROUPING_COMPANY' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>No</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'AREA' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Security</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>cra52N74 , 56 office 506</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>97</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'NIT_CEDULA' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>90000584485</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'LEGAL_REPRESENTATIVE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>556</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'SOCIAL_REASON' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>King ocean services</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'DIRECT_EMPLOYEES' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>5667</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'INDIRECT_EMPLOYEES' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>67</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="float-right my-3">            
                           <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                           {{ 'DELETE' | translate }}
                           </a>
                           <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                           {{ 'CANCEL' | translate }}
                           </a>          
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

