

<section class="bg-w-shadow bg-b-shadow ">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <a routerLink="../../consult">
               <i class="fa fa-long-arrow-left float-left color-white p-t-15" aria-hidden="true"></i>
               </a>
               <h4 class="page-title text-center color-white">
                  <img src="assets/images/administrative.png" class="admin_img mr-2" alt="administrative">
                  {{ 'SEE_COMPANY' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="customerconsultuserForm">
   <nz-form-item>
      <div class="row m-0 my-4 px-4">
         <div class="col-md-12">
            <nz-card class="b_none">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'MAIL' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>alaxandra@kingocean.com</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>Barranquilla</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>Active</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'GROUPING_COMPANY' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>NO</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'AREA' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>Security</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>cra52N74 , 56 office 506</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>97</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'NIT_CEDULA' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>90000584485</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'LEGAL_REPRESENTATIVE' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>556</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'SOCIAL_REASON' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>King ocean services</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'DIRECT_EMPLOYEES' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>5667</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5">
                           <nz-form-label>{{ 'INDIRECT_EMPLOYEES' | translate }}</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <small>67</small>
                        </div>
                     </div>
                  </div>
               </div>
            </nz-card>
         </div>
      </div>
      <div class="row m-0">
      </div>
   </nz-form-item>
</form>

