<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title">
                 <nz-breadcrumb class="breadcrumb_title">
                    <nz-breadcrumb-item>
                     <a routerLink="../../consult"> {{ 'REQUESTS' | translate }}</a>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'CONSULT' | translate }}
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                       {{ 'VIEW' | translate }}
                    </nz-breadcrumb-item>
                 </nz-breadcrumb>
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<div>
  <ng-template #generalTitleTemplate>
     <div class="ctm-card-title color-white">
        <a routerLink="../../consult">
        <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
        </a>
        <span>{{ 'REQUEST_POLYGRAPHY' | translate }}</span>
     </div>
  </ng-template>
  <div class="content-section">
     <div class="row">
        <div class="col-md-12">
           <form nz-form [formGroup]="consultview" class="ctm-label-r">
              <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                 <nz-form-item>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'TEST_TYPE' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>Routine</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'Candidate' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>Javier alexander mendivelso mendivelso</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'IDENTIFICATION' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>457457747</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>Cundinamarca</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'City' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>Bogota</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'ADDRESS' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>000</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'NEIGHBORHOOD' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>0</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'TELEPHONE' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>000</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'CELLULAR' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>000</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'EXPENDITURE_CENTER' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>0</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'OBSERVATION' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>00</small>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'CELLULAR' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <small>+23-899976623</small>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="row">
                             <div class="col-md-5">
                                <nz-form-label>{{ 'ADD_NOTES' | translate }}</nz-form-label>
                             </div>
                             <div class="col-md-7">
                                <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                                   <input type="text" placeholder="{{ 'NOTES' | translate }}" nz-input formControlName="notes" />
                                </nz-form-control>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                          <div class="float-right my-3">            
                             <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                             {{ 'SUBMIT' | translate }}
                             </a>
                             <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                             {{ 'RESET' | translate }}
                             </a>          
                          </div>
                       </div>
                    </div>
                 </nz-form-item>
              </nz-card>
           </form>
        </div>
     </div>
  </div>
</div>
<div class="ctm_bx">
  <ng-template #generalTitleTemplate1>
     <div class="ctm-card-title color-white">
        <span>{{ 'CALENDAR_INFORMATION' | translate }}</span>
     </div>
  </ng-template>
  <div class="content-section">
     <div class="row">
        <div class="col-md-12">
           <form nz-form [formGroup]="consultview" class="ctm-label-r">
              <div class="m-b-20">
                 <nz-card nzType="inner" [nzTitle]="generalTitleTemplate1" class="customer-form box_Shadow">
                    <nz-form-item>
                       <div class="row">
                          <div class="col-md-6">
                             <div class="row">
                                <div class="col-md-5">
                                   <nz-form-label>{{ 'SCHEDULED_DATE' | translate }}</nz-form-label>
                                </div>
                                <div class="col-md-7">
                                   <small>09-09-2019</small>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="row">
                                <div class="col-md-5">
                                   <nz-form-label>{{ 'SCHEDULED_ADDRESS' | translate }}</nz-form-label>
                                </div>
                                <div class="col-md-7">
                                   <small>mendivelso mendivelso</small>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="row">
                                <div class="col-md-5">
                                   <nz-form-label>{{ 'ADVISOR_OBSERVATION' | translate }}</nz-form-label>
                                </div>
                                <div class="col-md-7">
                                   <small>122334</small>
                                </div>
                             </div>
                          </div>
                       </div>
                    </nz-form-item>
                 </nz-card>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>