<section class="bg-w-shadow bg-b-shadow ctm_bx">
   <div class="container-fluid">
      <div class="row">
         <div class="offset-md-2 col-sm-6">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'RELATIONSHIP_OF_PRODUCTS_AND_SERVICES' | translate }}
               </h4>
            </div>
         </div>
         <div class="col-md-4">
            <div class="row p-10">
               <!-- <div class="col-md-8">
                  <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                     <input type="text" placeholder="{{ 'SEARCH' | translate }}" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                  </nz-input-group>
                  <ng-template #keyupsearchSuffixIcn>
                     <i nz-icon nzType="search"></i>
                  </ng-template>
               </div> -->
               <div class="offset-md-8 col-md-4">
                  <div class="row ctm_btn"> 
                     <a nz-button nzType="secondary" class="ctm-btn-light-export">
                     <i class="fa fa-download mr-1" aria-hidden="true"></i>{{ 'EXPORT' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<nz-table [nzData]="productDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th class="t_head">{{ 'S_NO' | translate }}</th>
      <th class="t_head">{{ 'COD_PROD' | translate }}</th>
      <th class="t_head">{{ 'PRODUCTS' | translate }}</th>
      <th class="t_head">{{ 'BUSINESS_NAME' | translate }}</th>
      <th class="t_head">{{ 'STATE' | translate }}</th>
      <th class="t_head">{{ 'CODE_SERV' | translate }}</th>
      <th class="t_head">{{ 'SERVICES' | translate }}</th>
      <th class="t_head">{{ 'STATE' | translate }}</th>
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of productDisplayData; let i = index">
      <td class="t_bdy">{{ i+1 }}</td>
      <td class="t_bdy">{{ data.productCode }}</td>
      <td class="t_bdy">{{ data.proudctName }}</td>
      <td class="t_bdy">{{ data.serviceName }}</td>
      <td class="t_bdy">{{ data.product_status }}
         <a nz-button nzType="primary" nzShape="round" routerLink="product-edit" class="ctm-btn-green px-2 ml-1 mr-1 mb-1">
         <img src="assets/images/edit.png">          
         </a>   
         <a nz-button nzType="primary" nzShape="round" routerLink="product-delete" class="ctm-btn-dark-delete px-2 mr-1 mb-1">
         <img src="assets/images/delete.png">
         </a>
      </td>
      <td class="t_bdy">{{ data.serviceCode }}</td>
      <td class="t_bdy">{{ data.serviceName }}</td>
      <td class="t_bdy">{{ data.service_status }}
         <a nz-button nzType="primary" nzShape="round" routerLink="service-edit" class="ctm-btn-green px-2 ml-1 mr-1 mb-1">
         <img src="assets/images/edit.png">         
         </a>   
         <a nz-button nzType="primary" nzShape="round" routerLink="service-delete" class="ctm-btn-dark-delete px-2 mr-1 mb-1">
         <img src="assets/images/delete.png">
         </a>
      </td>
   </tr>
</tbody>
</nz-table>