@import 'src/scss/styles.scss';


.u_login{
    margin-top: 100px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
.login_component{
  width: 100%;
  height: 100%;
  background-color:#e8ebee;
  margin: 0 auto;
  position: absolute;
}
.login_txt{
  color: $blue;
  font-weight: 500;
}
.user_login {
  text-transform: uppercase;
  font-size:11px;
  color:#35598d !important;
}
.login_btn{
  font-weight: 600;
    border-radius: 8px;
    margin: 25px 0px;
    background: #36598d;
    border: 1px solid #36598d;
    float: right;
    font-size: 13px;
    padding:0px  20px;
    text-align: center;
}