<div class="login_component">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-md-6">
           <div class="u_login w3-card" >
              <div class="text-center">
                 <div href="#">
                    <img src="assets/images/logo.png" class="img-fluid m-4" alt="colpryst-logo" >
                 </div>
                 <div>
                    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                       <div class="row">
                          <div class="col-md-4">
                             <div class="login_txt">
                                <nz-form-label ><span class="user_login">{{ 'USER_NAME' | translate }}*</span></nz-form-label>
                             </div>
                          </div>
                          <div class="col-md-8">
                             <nz-form-control nzErrorTip="{{ 'EMAIL_ERROR' | translate }}">
                                <nz-input-group nzPrefixIcon="user">
                                   <input type="text" nz-input formControlName="username" placeholder="{{ 'EMAIL' | translate }}" />
                                </nz-input-group>
                             </nz-form-control>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-4">
                             <div class="login_txt">
                                <nz-form-label ><span class="user_login">{{ 'PASSWORD' | translate }}*</span></nz-form-label>
                             </div>
                          </div>
                          <div class="col-md-8">
                             <nz-form-control nzErrorTip="{{ 'PASSWORD_ERROR' | translate }}">
                                <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                                   <input
                                      [type]="passwordVisible ? 'text' : 'password'"
                                      nz-input
                                      placeholder="{{ 'PASSWORD' | translate }}"
                                      formControlName="password"
                                      />
                                </nz-input-group>
                                <ng-template #suffixTemplate>
                                   <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible"></i>
                                </ng-template>
                             </nz-form-control>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-12">
                             <nz-form-control>              
                                <button nz-button  class="login_btn" nzType="primary">
                                {{ 'LOGIN' | translate }}
                                </button>
                             </nz-form-control>
                             <div class="row">
                                <div class="col-md-12 text-center">
                                   <small class="f-s-0-9 px-3 text-secondary">{{ 'PLEASE_ENTER_USER_PASSWORD' | translate}}</small>
                                </div>
                             </div>
                          </div>
                       </div>
                    </nz-form-item>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- <button nz-button  class="letter-s-2" nzType="primary" nzShape="round" routerLink="/admin/application">
  {{ 'LOG_IN' | translate }}
  </button> -->