<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'BILLING' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="billingallocateinvoiceForm">
   <nz-form-item>
      <div class="row m-0 mt-3">
         <div class="col-md-12">
            <nz-card class="b_none">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'CLIENT_DOCUMENT' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_CLIENT_DOCUMENT_NO.' | translate }}" nz-input formControlName="client_document" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'APPLICATION_DOCUMENT' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_APPLICATION_DOCUMENT_NO.' | translate }}" nz-input formControlName="application_document" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'CUSTOMER_NAME' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input  placeholder="{{ 'ENTER_CUSTOMER_NAME' | translate }}" type="text" nz-input formControlName="customer_name" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'NO_INVOICE' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text"  placeholder="{{ 'ENTER_NUMBER_OF_INVOICE' | translate }}" nz-input formControlName="no_invoice" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'ASSIGNED_TO' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ASSIGNED_TO' | translate }}" nz-input formControlName="assigned_to" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'EXPENSE_CENTER' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'EXPENSE_CENTER' | translate }}" nz-input formControlName="expense_center" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="float-right my-3">            
                     <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                     {{ 'SUBMIT' | translate }}
                     </a>
                     <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                     {{ 'RESET' | translate }}
                     </a>          
                  </div>
               </div>
            </nz-card>
         </div>
      </div>
      <div class="row m-0">
      </div>
   </nz-form-item>
</form>