@media only screen and (max-width: 620px) {
  .u_login{
    left:0% !important;
    right: 0% !important;
  }
  .ctm_btn{
    margin: 0 !important;
    padding-top: 5px;
   
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 768px) {

}