/* You can add global styles to this file, and also import other style files */

$mdi-font-path: "~@mdi/font/fonts";

@import "variables";
@import "mixins";
@import "header";
@import "footer";

app-layoutfrontend {
  width: 100%;
}


app-layoutadminpanel {
  width: 100% !important;
}
app-layoutclientpanel {
  width: 100% !important;
}
app-layoutanalystspanel {
  width: 100% !important;
}
.admin_img{
  width:20px;
  height:20px;
}
.ant-card-body {
  padding: 0px;
}
.ctm_plus_icon {
  margin: 0 auto;
  display: block;
}
.content-section {
  .box_Shadow {
    border-radius: 10px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
.breadcrumb_title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  line-height: 35px;
  color: $white;
  text-transform: uppercase;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  span {
    color: $white;
  }
}
.box_Shadow {
  .ant-card-head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #1f467d;
  }
  .ant-form-item {
    margin: 0px;
  }
}
.bg-white.ant-table-wrapper {
  border-radius: 10px;
}
.frm_shadow .ant-form-item {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 0px;
}
.ctm_right {
  text-align: right;
}
.ant-card-bordered {
  border: 1px solid transparent;
}
.ctm-btn-dark-blue {
  text-transform: uppercase;
  background-color: #011d45;
  color: #ffffff !important;
  border: 1px solid #011d45;
  border-radius: 10px;
  padding: 0px 20px;
}
.ctm-btn-dark-blue {
  &:hover {
    background-color: transparent;
    color: #011d45 !important;
    border: 1px solid #011d45;
  }
  &:active {
    background-color: transparent;
    color: #011d45 !important;
    border: 1px solid #011d45;
  }
}
.ctm-btn-light-blue {
  text-transform: uppercase;
  background-color: #35598d;
  color: #ffffff !important;
  border-radius: 10px;
  padding: 0px 20px;
  border: 1px solid #35598d;
}
.ctm-btn-light-blue {
  &:hover {
    background-color: transparent;
    color: #35598d !important;
    border: 1px solid #35598d;
  }
  &:active {
    background-color: transparent;
    color: #35598d !important;
    border: 1px solid #35598d;
  }
}
.text-muted {
  color: $gray2;
}

.mat-icon {
  float: left !important;
}

.ant-btn {
  mat-icon {
    width: 18px;
    height: 30px;
    margin-right: 3px;
    line-height: 0px;
  }
}

.ant-table-tbody {
  tr {
    td {
      padding: 5px;
      mat-icon {
        width: 13px;
        margin-right: 3px;
      }
      a {
        font-weight: normal;
        text-decoration: none;
        mat-icon {
          width: 15px;
        }
      }
    }
  }
}
.ctm_table {
  .ant-table-body.ng-star-inserted {
    border-radius: 10px;
  }
}
.ctm_table {
  .ant-table-pagination.ant-pagination {
    float: right;
    margin: 16px 16px;
  }
}

.ant-table-thead {
  tr {
    th {
      padding: 10px;
      background-color: $white;
      border-top: 1px solid $lightgray1;
      border-bottom: 2px solid $lightgray1;
    }
  }
}

.ant-table-body {
  overflow-x: auto;
}

.ant-calendar-picker {
  width: 100%;
}

.bg-white {
  background: $white;
}

.dark-green-back {
  background: $dark_green;
}

.dark-green {
  color: $dark_green;
}

.black2 {
  color: $black2;
}

.h-100vh {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.letter-s-2 {
  letter-spacing: 2px;
}

.f-w-b {
  font-weight: bold;
}

.f-s-0-9 {
  font-size: 0.9rem;
}

.f-s-1 {
  font-size: 1rem;
}

.f-s-1-5 {
  font-size: 1.5rem;
}

.f-s-2-5 {
  font-size: 2.5rem;
}

.f-s-28 {
  font-size: 28px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.f-s-13 {
  font-size: 13px;
}

.f-s-14 {
  font-size: 14px;
}
.f-s-11 {
  font-size: 11px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-60p {
  font-size: 60%;
}

.m-0 {
  margin: 0px !important;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-5 {
  margin-right: 5px;
}
.m-r-2 {
  margin-right: 2px;
}

.m-r-10 {
  margin-right: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-r-5 {
  padding: 5px;
}

.p-l-5 {
  padding: 5px;
}

.p-15 {
  padding: 15px;
}

.content-section {
  padding: 24px;
  height: auto;
}
.ctm_bx{
  margin-top:-18px;
}
.page-title-box {
  padding: 10px 25px;
  background-color: $white;
  border-bottom: 1px solid rgba(112, 112, 112, 0.12);
  height: 54px;
}
.ctm_create_app {
  margin-top: -50px;
}
.page-title-box-b {
  padding: 10px;
  overflow: auto;
}
.bx_shadow .ant-card-body {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.p-10 {
  padding: 10px;
}
.ctm-btn-dark-delete {
  background-color: $green2;
  border: 1px solid $green2;
  font-size: 10px;
  margin-top: 2px;
  color: #ffffff !important;
}
.ctm-btn-dark-delete:hover {
  background-color: $green3;
  border: 1px solid $green3;
  color: #ffffff !important;
}
.ctm-btn-light-export {
  margin-top: 2px;
  font-size: 10px;
  background-color: $dark_blue1;
  border: 1px solid $dark_blue1;
  color: #ffffff !important;
}
.ctm-btn-light-export:hover {
  background-color: $dark_blue;
  border: 1px solid $dark_blue;
  color: #ffffff !important;
}
.bg-w-shadow {
  background-color: $light_blue;
  border-top: 1px solid rgba(255, 255, 255, 255);
}
.ant-menu-item {
  text-transform: uppercase;
}
.ant-menu-submenu-title {
  text-transform: uppercase;
}

.page-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  line-height: 35px;
  mat-icon {
    width: 20px;
    margin-right: 5px;
    line-height: 28px;
  }
}

.color-green2 {
  color: $green2 !important;
}
.ctm-btn-lgt-blue:hover {
  text-transform: uppercase;
  color: $white !important;
  background-color: $blue5;
  border: 1px solid $blue5;
}
.ctm-btn-lgt-blue {
  text-transform: uppercase;
  color: $white !important;
  background-color: $blue4;
  border: 1px solid $blue4;
}
.ctm-btn-green {
  text-transform: uppercase;
  color: $white !important;
  background-color: $green2;
  border: 1px solid $green2;
}
.t_head {
  text-transform: uppercase;
}
.ctm-btn-green:hover {
  background-color: $green3;
  border: 1px solid $green3;
}
.ctm-btn-view {
  text-transform: uppercase;
  color: $white !important;
  background-color: $blue3 !important;
  border: 1px solid $blue3 !important;
}
.ctm-btn-view:hover {
  background-color: $blue4 !important;
  border: 1px solid $blue4 !important;
}
.ctm-btn-status {
  text-transform: uppercase;
  color: $white !important;
  background-color: $dark_blue;
  border: 1px solid $dark_blue;
}

.ctm-btn-status:hover {
  background-color: $light_blue;
  border: 1px solid $light_blue;
}
.ctm-btn-print {
  text-transform: uppercase;
  color: $white !important;
  background-color: $skyblue4;
  border: 1px solid $skyblue4;
}

.ctm-btn-print:hover {
  background-color: $skyblue3;
  border: 1px solid $skyblue3;
}
.ctm-btn-yellow {
  color: $white !important;
  background-color: $yellow1;
  border: 1px solid $yellow1;
}

.ctm-btn-yellow:hover,
.ctm-btn-yellow:focus,
.ctm-btn-yellow:active {
  background-color: $yellow2;
  border: 1px solid $yellow2;
}

.ctm-btn-yellow3 {
  color: $white !important;
  background-color: $yellow3;
  border: 1px solid $yellow3;
}

.ctm-btn-yellow3:hover,
.ctm-btn-yellow3:focus,
.ctm-btn-yellow3:active {
  background-color: $yellow3;
  border: 1px solid $yellow3;
}

.ctm-btn-gray {
  color: $white !important;
  background-color: $gray3;
  border: 1px solid $gray3;
}

.ctm-btn-gray:hover,
.ctm-btn-gray:focus,
.ctm-btn-gray:active {
  background-color: $gray4;
  border: 1px solid $gray4;
}

.ctm-btn-sky-blue {
  color: $white !important;
  background-color: $skyblue1;
  border: 1px solid $skyblue1;
}

.ctm-btn-sky-blue:hover,
.ctm-btn-sky-blue:focus,
.ctm-btn-sky-blue:active {
  background-color: $skyblue2;
  border: 1px solid $skyblue2;
}

.ctm-btn-pale-blue {
  color: rgba(0, 0, 0, 0.65) !important;
  box-shadow: 0px 1px 5px 0px #0c0c0c2e;
}

.ctm-btn-pale-blue:hover {
  color: $white !important;
  background-color: $paleblue;
  border: 1px solid $paleblue;
}

.show-filter-collapse {
  .ant-collapse {
    border: none;
    nz-collapse-panel {
      border: none;
      .ant-collapse-header {
        display: none;
      }
    }
  }
}

.ctm-card-title {
  text-align: center;
  mat-icon {
    float: none !important;
    width: 14px;
    vertical-align: middle;
    margin-right: 5px;
  }
  span {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.tabs-mat-icon {
  width: 15px !important;
  margin-right: 3px;
}

.bg-blue-grey {
  background-color: $blue1;
  text-align: right;
  padding: 3px 10px;
  border-top: 1px solid $white;
}

.ctm-card {
  border: 1px solid $gray5;
}

.detail-data-col {
  border-top: 1px solid $gray5;
  padding: 3px 10px;
}

// html, body {
//   max-width: 100%;
//   overflow-x: hidden;
// }

.ant-tabs-nav {
  .ant-tabs-tab {
    margin: 0px;
    padding: 12px 7px;
  }
}

.anticon {
  vertical-align: 2px;
}

.m-menu-fold {
  margin: 23px;
  font-size: 20px;
  vertical-align: 2px;
  cursor: pointer;
}

.ant-drawer-body {
  padding: 0px;
}

.ant-drawer-header {
  padding: 0px;
}

.ant-menu-item {
  a:hover {
    text-decoration: none;
  }
}

.color-white {
  color: $white !important;
}

.color-b {
  color: $black !important;
}

.color-blue2 {
  color: $blue2;
}

.cust-n-i {
  width: 15px !important;
  margin-top: -2px;
}

.mini-stat {
  border: 1px solid rgba(112, 112, 112, 0.12);
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  color: $white;
}

.mini-stat-info {
  font-size: 14px;
  padding-top: 2px;
}

.ant-modal-close {
  outline: 0 !important;
}

.ant-form-item-label {
  label {
    text-transform: capitalize;
    margin-bottom: 0px;
  }
}

.border-b-dotted {
  border-bottom: 1px $gray6 dotted;
}

.ant-menu {
  .ant-menu-item,
  .ant-menu-item-selected {
    outline: none;
  }
}

.ant-form-item-label {
  line-height: 20px;
}

.card-title,
.ctm-border-bottom {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid $blue2;
}

.cursor-pointer {
  cursor: pointer;
}

.remove-collan {
  label::after {
    content: none;
  }
}

.ctm-input-disabled {
  background-color: $gray7;
  pointer-events: none;
}

.w-100px {
  width: 100px !important;
}

.w-60px {
  width: 60px !important;
}

.ctm-ant-alert {
  .ant-alert {
    padding: 0px;
  }
}

.p-total {
  float: right;
}

.ctm-r-b-b {
  .ant-table-placeholder {
    border-bottom: 0px;
  }
}

.m-tb-10 {
  margin: 10px 0 !important;
}

.ctm-table-style {
  tr {
    td {
      background-color: $white !important;
      color: $black;
    }
  }
}

.print-recibo-header {
  position: relative;
  width: 100%;
  height: 100px;
}

.recibo-empresa-nombre {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 16px;
}

.recibo-numero {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 16px;
}

.recibo-emitidopor {
  position: absolute;
  top: 60px;
  right: 0;
  font-size: 16px;
}

#recibo-fill-proveedor {
  margin-top: -2px;
  font-weight: bold;
}

#recibo-fill-fecha {
  margin-top: -2px;
  font-weight: bold;
}

#recibo-fill-montoLetras {
  margin-top: -2px;
  font-weight: bold;
}

.no-line {
  border-bottom: none !important;
}

.simple-ctm-table {
  thead {
    th {
      font-weight: 600;
    }
  }
  tbody {
    tr {
      td {
        padding: 7px 12px;
      }
    }
  }
}

.t-d-none {
  a:hover {
    text-decoration: none;
  }
}

.ctm-select-h-r {
  .ant-select-selection:hover {
    border: 1px solid $gray8;
  }
}

.left-btn-border {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.right-btn-border {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ctm-highchart {
  width: 100%;
  height: 300px;
  display: block;
}

.ctm-b-b {
  table {
    thead {
      tr {
        border-bottom: 1px solid $black !important;
      }
    }
  }
}

.ctm-b-b-b {
  border-bottom: 1px solid $black !important;
}

.product-search {
  span {
    span {
      background-color: $blue2;
    }
  }
}

// pos product card
.card-box {
  padding: 20px;
  border: 1px solid $blue2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: $white;
}

.widget-bg-color-icon .bg-icon-info {
  background-color: $blue2;
  border: 6px solid rgba(61, 220, 247, 0.3);
  margin: auto;
}

.widget-bg-color-icon .bg-icon {
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 50%;
}

.widget-bg-color-icon .bg-icon i {
  font-size: 32px;
  color: $white !important;
  line-height: 68px;
}

.ctm-mr-n-10 {
  margin-right: -10px !important;
}

.header-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 0;
}

.color-gray9 {
  color: $gray9;
}

.pos-product-bar {
  height: 625px;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
}

.pos-invoice-bar {
  height: 480px;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  background-color: $white;
}

.l-h-35 {
  line-height: 35px;
}

.ctm-link {
  color: $gray12 !important;
}

.ctm-link:hover {
  color: $black !important;
  text-decoration: none;
}

.item-view-d {
  label {
    margin-bottom: 7px;
  }
}

.ctm-cust-search {
  width: calc(100% - 105px);
  float: left;
}

.ctm-cust-search-btn {
  width: 105px;
  float: left;
  text-align: right;
}

.pos-item-box {
  background-color: $white;
  padding-top: 1px;
}

.ctm-bt-0 {
  tbody {
    tr {
      td {
        border-top: 0px;
      }
    }
  }
}
