<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'ASSIGNED_REQUESTS' | translate }}
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="appliedapplicationForm">
   <nz-form-item>
      <div class="row m-0 mt-3">
         <div class="col-md-12">
            <nz-card class="b_none">
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'CANDIDATE_ID' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input type="text" placeholder="{{ 'ENTER_CANDIDATE_ID' | translate }}" nz-input formControlName="candidate_id" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_service">
                                 <nz-option nzLabel="{{ 'BUSINESS_ASSOCIATES' | translate }}" nzValue="1"></nz-option>
                                 <nz-option nzLabel="{{ 'BASIC' | translate }}" nzValue="2"></nz-option>
                                 <nz-option nzLabel="{{ 'BASIC_2' | translate }}" nzValue="3"></nz-option>
                                 <nz-option nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="4"></nz-option>
                                 <nz-option nzLabel="{{ 'SIMPLE_FINANCIAL' | translate }}" nzValue="5"></nz-option>
                                 <nz-option nzLabel="{{ 'POLYGRAPHS' | translate }}" nzValue="6"></nz-option>
                                 <nz-option nzLabel="{{ 'REFERENCING' | translate }}" nzValue="7"></nz-option>
                                 <nz-option nzLabel="{{ 'REFERENCING_2' | translate }}" nzValue="8"></nz-option>
                                 <nz-option nzLabel="{{ 'VISIT_1' | translate }}" nzValue="9"></nz-option>
                                 <nz-option nzLabel="{{ 'VISIT_2' | translate }}" nzValue="10"></nz-option>
                                 <nz-option nzLabel="{{ 'VISIT_3' | translate }}" nzValue="11"></nz-option>
                              </nz-select>
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-5 ctm_right">
                           <nz-form-label>{{ 'CANDIDATE' | translate }}*</nz-form-label>
                        </div>
                        <div class="col-md-7">
                           <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                              <input  placeholder="{{ 'ENTER_CANDIDATE_NAME' | translate }}" type="text" nz-input formControlName="candidate" />
                           </nz-form-control>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="float-right my-3">            
                        <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveApplied()">
                        {{ 'SUBMIT' | translate }}
                        </a>
                        <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                        {{ 'RESET' | translate }}
                        </a>          
                     </div>
                  </div>
               </div>
            </nz-card>
         </div>
      </div>
      <div class="row m-0">
      </div>
   </nz-form-item>
</form>