

<section class="bg-w-shadow bg-b-shadow">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-title-box-b">
               <h4 class="page-title">
                  <nz-breadcrumb class="breadcrumb_title">
                     <nz-breadcrumb-item>
                        <a routerLink="../../consult"> {{ 'EMPLOYEES' | translate }}</a>
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'CONSULT' | translate }}
                     </nz-breadcrumb-item>
                     <nz-breadcrumb-item>
                        {{ 'VIEW' | translate }}
                     </nz-breadcrumb-item>
                  </nz-breadcrumb>
               </h4>
            </div>
         </div>
      </div>
   </div>
</section>
<ng-template #generalTitleTemplate>
   <div class="ctm-card-title color-white">
      <a routerLink="../../consult">
      <i class="fa fa-long-arrow-left float-left pt-2" aria-hidden="true"></i>
      </a>
      <span><img src="assets/images/administrative.png" class="admin_img mr-2" alt="administrative">{{ 'VIEW_EMPLOYEES' | translate }}</span>
   </div>
</ng-template>
<div class="content-section">
   <div class="row">
      <div class="col-md-12">
         <form nz-form [formGroup]="employeesconsultview" class="ctm-label-r">
            <div class="m-b-20">
               <nz-card nzType="inner" [nzTitle]="generalTitleTemplate" class="customer-form box_Shadow">
                  <nz-form-item>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'NAME' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Alex</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'LAST_NAME' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Satizalbal</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CITY' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Letica</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'MAIL' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>assistant@colpryst.com</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'PHONE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>+1-89-84-69565</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'USER' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>aaistant@colpryst.in</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>99790090877</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'DEPARTMENT' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Amazon</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'CODE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>47</small>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-5">
                                 <nz-form-label>{{ 'STATE' | translate }}</nz-form-label>
                              </div>
                              <div class="col-md-7">
                                 <small>Barranquilla</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="float-right my-3">            
                              <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCustomer()">
                              {{ 'DELETE' | translate }}
                              </a>
                              <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                              {{ 'CANCEL' | translate }}
                              </a>          
                           </div>
                        </div>
                     </div>
                  </nz-form-item>
               </nz-card>
            </div>
         </form>
      </div>
   </div>
</div>

