<section class="bg-w-shadow bg-b-shadow">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
           <div class="page-title-box-b">
              <h4 class="page-title text-center color-white">
                 {{ 'SEARCH_EMPLOYEES' | translate }}
              </h4>
           </div>
        </div>
     </div>
  </div>
</section>
<form class="frm_shadow" nz-form [formGroup]="customerconsultForm">
  <nz-form-item>
     <div class="row m-0 mt-3">
        <div class="col-md-12">
           <nz-card class="b_none">
              <div class="row">
                <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'NAME' | translate }}*</nz-form-label>
                       </div>
                       <div class="col-md-7">
                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                             <input type="text" placeholder="{{ 'ENTER_YOUR_NAME' | translate }}" nz-input formControlName="name" />
                          </nz-form-control>
                       </div>
                    </div>
                 </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <nz-form-label>{{ 'BUSINESS' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-7">
                      <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                         <input type="text" placeholder="{{ 'BUSINESS' | translate }}" nz-input formControlName="business_name" />
                      </nz-form-control>
                   </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <nz-form-label>{{ 'TYPE_OF_SERVICE' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_SERVICE' | translate }}"  formControlName="type_of_service">
                              <nz-option nzLabel="{{ 'ADVERSE(SARLAFT)' | translate }}" nzValue="1"></nz-option>
                              <nz-option nzLabel="{{ 'ADVERSE' | translate }}" nzValue="2"></nz-option>
                              <nz-option nzLabel="{{ 'VISIT_ADMISSION' | translate }}" nzValue="3"></nz-option>
                              <nz-option nzLabel="{{ 'LABOUR_REFERENCING' | translate }}" nzValue="4"></nz-option>
                              <nz-option nzLabel="{{ 'ACADEMIC_REFERENCING' | translate }}" nzValue="5"></nz-option>
                              <nz-option nzLabel="{{ 'FULL_REFERENCING(4AND5)' | translate }}" nzValue="6"></nz-option>
                              <nz-option nzLabel="{{ 'SIMPLE_FINANCIAL' | translate }}" nzValue="7"></nz-option>
                              <nz-option nzLabel="{{ 'FULL_FINANCIAL' | translate }}" nzValue="8"></nz-option>
                              <nz-option nzLabel="{{ 'POLYGRAPHY_AND_VSA' | translate }}" nzValue="9"></nz-option>
                              <nz-option nzLabel="{{ 'COMPLETE_ADVERSES(1AND2)' | translate }}" nzValue="10"></nz-option>
                              <nz-option nzLabel="{{ 'ADVERSE_VISIT(1AND2AND3)' | translate }}" nzValue="11"></nz-option>
                              <nz-option nzLabel="{{ 'BASIC(1,2,3AND6)' | translate }}" nzValue="12"></nz-option>
                              <nz-option nzLabel="{{ 'BASIC_2(1,2,3,6AND7)' | translate }}" nzValue="13"></nz-option>
                              <nz-option nzLabel="{{ 'BASIC_3 (1,2,3,6AND8)' | translate }}" nzValue="14"></nz-option>
                              <nz-option nzLabel="{{ 'COMPLETE_ADVERSE_REFERENCING(1,2AND6)' | translate }}" nzValue="15"></nz-option>
                              <nz-option nzLabel="{{ 'SOCIO_ECONOMIC(1,2AND7)' | translate }}" nzValue="16"></nz-option>
                              <nz-option nzLabel="{{ 'FOLLOW_UP_VISIT' | translate }}" nzValue="17"></nz-option>
                              <nz-option nzLabel="{{ 'FOLLOW_UP_VISIT_ADVERSE_EVENT(1,2AND17)' | translate }}" nzValue="18"></nz-option>
                              <nz-option nzLabel="{{ 'VISITING_MONITORING_SOCIOECONOMIC(16AND17)' | translate }}" nzValue="19"></nz-option>
                              <nz-option nzLabel="{{ 'BASIC_4(12AND9)' | translate }}" nzValue="20"></nz-option>
                              <nz-option nzLabel="{{ 'FOLLOW_UP_VISIT_ADVERSE_EVENT(1,2AND17)' | translate }}" nzValue="21"></nz-option>
                              <nz-option nzLabel="{{ 'DATA_UPDATE' | translate }}" nzValue="22"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <nz-form-label>{{ 'STATE' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">
                           <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'SELECT_STATE' | translate }}"  formControlName="state" nzAllowClear>
                              <nz-option nzLabel="{{ 'ASSIGNED_FIELD_ADVISOR' | translate }}" nzValue="1"></nz-option>
                              <nz-option nzLabel="{{ 'ASSIGNED_ASSISTANCE' | translate }}" nzValue="2"></nz-option>
                              <nz-option nzLabel="{{ 'ASSIGNED_VISITOR' | translate }}" nzValue="3"></nz-option>
                              <nz-option nzLabel="{{ 'FINALIZED' | translate }}" nzValue="4"></nz-option>
                              <nz-option nzLabel="{{ 'FINALIZED_ADVISOR' | translate }}" nzValue="5"></nz-option>
                              <nz-option nzLabel="{{ 'JOINED' | translate }}" nzValue="6"></nz-option>
                              <nz-option nzLabel="{{ 'PRELIMINARY' | translate }}" nzValue="7"></nz-option>
                              <nz-option nzLabel="{{ 'ACADEMIC_VERIFICATION' | translate }}" nzValue="8"></nz-option>
                              <nz-option nzLabel="{{ 'LABOR_VERIFICATION' | translate }}" nzValue="9"></nz-option>
                           </nz-select>
                        </nz-form-control>
                     </div>
                  </div>
               </div>
                 
                 <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <nz-form-label>{{ 'IDENTIFICATION_CARD' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" placeholder="{{ 'ENTER_IDENTIFICATION_CARD' | translate }}" nz-input formControlName="id_card" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-5 ctm_right">
                        <nz-form-label>{{ 'ASSIGNED_TO' | translate }}*</nz-form-label>
                     </div>
                     <div class="col-md-7">
                        <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                           <input type="text" placeholder="{{ 'ASSIGNED_TO' | translate }}" nz-input formControlName="assigned_to" />
                        </nz-form-control>
                     </div>
                  </div>
               </div>
               
                
              </div>
              <div class="row">
                 <div class="col-md-6">
                    <div class="row">
                       <div class="col-md-5 ctm_right">
                          <nz-form-label>{{ 'NIT_CEDULA' | translate }}*</nz-form-label>
                       </div>
                       <div class="col-md-7">
                          <nz-form-control nzErrorTip="{{ 'REQUIRED' | translate }}">    
                             <input  placeholder="{{ 'ENTER_NIT_CEDULA' | translate }}" type="text" nz-input formControlName="nit_cedula" />
                          </nz-form-control>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6 my-3">
                  <div class="float-right ">            
                     <a nz-button nzType="secondary" class="ctm-btn-dark-blue mr-2" (click)="saveCheque()">
                     {{ 'SUBMIT' | translate }}
                     </a>
                     <a nz-button nzType="secondary" class="ctm-btn-light-blue" (click)="clearFilter()">
                     {{ 'RESET' | translate }}
                     </a>          
                  </div>
               </div>
              
              </div>
         
           </nz-card>
        </div>
     </div>
     <div class="row m-0">
     </div>
  </nz-form-item>
</form>