<section class="bg-w-shadow bg-b-shadow ctm_bx">
   <div class="container-fluid ">
      <div class="row">
         <div class="offset-md-4 col-sm-4">
            <div class="page-title-box-b">
               <h4 class="page-title text-center color-white">
                  {{ 'RELATION_OF_REQUEST' | translate }}
               </h4>
            </div>
         </div>
         <div class="col-md-4">
            <div class="row p-10">
               <!-- <div class="col-md-8">
                  <nz-input-group [nzSuffix]="keyupsearchSuffixIcn">
                     <input type="text" placeholder="{{ 'SEARCH' | translate }}" nz-input [(ngModel)]="search_title" (keyup)="keyUpSearch()" />
                  </nz-input-group>
                  <ng-template #keyupsearchSuffixIcn>
                     <i nz-icon nzType="search"></i>
                  </ng-template>
               </div> -->
               <div class="offset-md-8 col-md-4">
                  <div class="row ctm_btn"> 
                     <a nz-button nzType="secondary" class="ctm-btn-light-export">
                     <i class="fa fa-download mr-1" aria-hidden="true"></i>{{ 'EXPORT' | translate }}
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<nz-table [nzData]="qualityaccountDisplayData" nzShowSizeChanger class="bg-white" [nzNoResult]="noTableData">
<ng-template #noTableData>
   <div class="black2">
      {{ 'NO_RECORD_FOUND' | translate }}
   </div>
</ng-template>
<thead>
   <tr>
      <th class="t_head">{{ 'BUSINESS' | translate }}</th>
      <th class="t_head">{{ 'USER' | translate }}</th>
      <th class="t_head">{{ 'TYPE_OF_SERVICE' | translate }}</th>
      <th class="t_head">{{ 'NAME' | translate }}</th>
      <th class="t_head">{{ 'IDENTIFICATION_CARD' | translate }}</th>
      <th class="t_head">{{ 'DAYS_PASSED' | translate }}</th>
      <th class="t_head">{{ 'ASSIGNED_TO' | translate }}</th>
      <th class="t_head">{{ 'STATE' | translate }}</th>
      <!-- <th class="t_head">{{ 'OPTION' | translate }}</th> -->
   </tr>
</thead>
<tbody>
   <tr *ngFor="let data of qualityaccountDisplayData">
      <td class="t_bdy">{{ data.business }}</td>
      <td class="t_bdy">{{ data.user }}</td>
      <td class="t_bdy">{{ data.type_service }}</td>
      <td class="t_bdy">{{ data.name }}</td>
      <td class="t_bdy">{{ data.id_card }}</td>
      <!-- <td class="t_bdy">{{today | date}}</td> -->
      <td class="t_bdy"><span class="badge badge-pill badge-success color-white"> {{ data.days_passed }}</span></td>
      <td class="t_bdy">{{ data.assigned_to }}</td>
      <td class="t_bdy">{{ data.state }}

        <a nz-button nzType="primary" nzShape="round" routerLink="edit" class="ctm-btn-green px-2 ml-1 mr-1 mb-1">
         <img src="assets/images/edit.png">          
         </a>
         <a nz-button nzType="primary" nzShape="round" routerLink="status" class="ctm-btn-status px-2 mr-1 mb-1">
         <img src="assets/images/status.png">           
         </a>    
           <a nz-button nzType="primary" nzShape="round" routerLink="delete" class="ctm-btn-dark-delete px-2 mr-1 mb-1">
            <img src="assets/images/delete.png">
            </a>
            <a nz-button nzType="primary" nzShape="round" class="ctm-btn-print px-2 mr-1 mb-1">
               <img src="assets/images/print.png">
               </a>
      </td>
     
   </tr>
</tbody>
</nz-table>