<section class="bg-w-shadow mb-4">
  <div class="container-fluid">
     <div class="row m-0 page-title-box-b">
        <div class="col-sm-12 p-0">
           <h4 class="page-title">
              <nz-breadcrumb class="breadcrumb_title">
                 <nz-breadcrumb-item>
                    {{ 'BILLING' | translate }}
                 </nz-breadcrumb-item>
                 <nz-breadcrumb-item>
                    {{ 'CHECK_INVOICE' | translate }}
                 </nz-breadcrumb-item>
              </nz-breadcrumb>
           </h4>
        </div>
     </div>
  </div>
</section>
<div class="container-fluid">
  <div class="col-md-12 mb-3">
     <nz-card>
        <app-billing-check-invoice-form
           [allocateinvoiceaccountData]="allocateinvoiceaccountDatas">
        </app-billing-check-invoice-form>
     </nz-card>
  </div>
</div>
<div class="container-fluid">
  <div class="row m-0">
     <div class="col-md-12 mt-4">
        <nz-card class="bx_shadow">
           <app-billing-check-invoice-table
              [allocateinvoiceaccountData]="allocateinvoiceaccountDatas">
           </app-billing-check-invoice-table>
        </nz-card>
     </div>
  </div>
</div>